{% extends 'base.html' %} 
{% load static %}

{% block body %}
	<div class="page-top">
		<div class="short-top">
			<div class="path">
				<a href="{% url 'index' %}">首頁</a> > <p>物種名錄</p>
			</div>
			<div class="main-box">
				<div class="float-dot-yel">
					<img src="{% static 'image/cir_yel.png' %}">
				</div>
				<div class="float-dot-blue">
					<img src="{% static 'image/cir_blue.png' %}">
				</div>
				<div class="title-box">
					<h2>物種名錄</h2>
					<p>CATALOGUE</p>
				</div>
			</div>
		</div>
		<div class="splist-search-box">
			<div class="main-box">
				<div class="left-box">
					<p>學名/中文名</p>
					<select class="select-box" name="" id="">
						<option value="">包含</option>
					</select>
				</div>
				<div class="cont-search-bar">
					<input type="text" placeholder="請輸入關鍵字">
					<button class="search">
						<svg id="Group_6882" data-name="Group 6882" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36.847" height="36.775" viewBox="0 0 36.847 36.775">
							<defs>
								<clipPath id="clip-path">
									<rect id="Rectangle_65" data-name="Rectangle 65" width="36.847" height="36.775" fill="#4c8da7"/>
								</clipPath>
							</defs>
							<g id="Group_135" data-name="Group 135" clip-path="url(#clip-path)">
								<path id="Path_6196" data-name="Path 6196" d="M0,15.8V13.791c.093-.611.172-1.224.282-1.832A14.8,14.8,0,0,1,11.626.36C12.373.206,13.135.118,13.89,0h1.943c.091.022.182.049.274.065.813.14,1.642.22,2.438.424a14.772,14.772,0,0,1,9.4,21.166c-.407.768-.9,1.489-1.4,2.3a2.517,2.517,0,0,1,.305.233q4.493,4.478,8.985,8.958a3.734,3.734,0,0,1,1.016,1.4v.718a2.258,2.258,0,0,1-.753,1.148,1.856,1.856,0,0,1-2.5-.29q-4.694-4.682-9.383-9.369A1.8,1.8,0,0,1,24,26.422c-.154.116-.212.156-.27.2A14.833,14.833,0,0,1,.359,17.991C.208,17.268.118,16.532,0,15.8m3.673-1.04A11.15,11.15,0,1,0,14.861,3.676,11.17,11.17,0,0,0,3.673,14.762" fill="#4c8da7"/>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="more-selection-area">
			<!--按下select-button時加上now的class-->
			<div class="select-button ">
				<div class="main-box">
					<p>進階選項</p>
					<div class="arr">
						<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
							<g id="tree-arr" transform="translate(-1545.086 -550.086)">
								<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#FFF" stroke-linecap="round" stroke-width="2"/>
								<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#FFF" stroke-linecap="round" stroke-width="2"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="selection-box">
				<div class="main-box">
					<div class="option-box1">
						<div class="item-box">
							<div class="left-title">
								<p>較高分類群</p>
							</div>
							<div class="input-item">
								<input type="text">
							</div>
						</div>
						<div class="item-box">
							<div class="left-title">
								<p>分類階層</p>
							</div>
							<div class="right-option">
								<div class="input-item select-170">
									<select name="" id="">
										<option value=""></option>
									</select>
								</div>
								<div class="alread-select">
									<div class="item">
										<p>種</p>
										<button>
											<img src="{% static 'image/w-xx.svg' %}">
										</button>
									</div>
									<div class="item">
										<p>種下</p>
										<button>
											<img src="{% static 'image/w-xx.svg' %}">
										</button>
									</div>
									<div class="item">
										<p>分類階層項目</p>
										<button>
											<img src="{% static 'image/w-xx.svg' %}">
										</button>
									</div>

								</div>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>原生/外來/特有性</p>
							</div>
							<div class="right-check">

								<label class="check-item">臺灣特有
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">歸化
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">入侵
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">栽培豢養
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<!--點擊後給class now-->
						<div class="more-option-button">
							<p>更多項目</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15.043" height="15.043" viewBox="0 0 15.043 15.043">
								<g id="plussvg" transform="translate(-1553.5 -534.5)">
									<line id="Line_211" data-name="Line 211" x1="13.043" transform="translate(1554.5 542.021)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
									<line class="minus" id="Line_213" data-name="Line 213" x1="13.043" transform="translate(1561.021 535.5) rotate(90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								</g>
							</svg>

						</div>
					</div>
					<!--點擊更多後展開option-box2-->
					<div class="option-box2">
						<div class="item-box check-set">
							<div class="left-title">
								<p>棲地環境</p>
							</div>
							<div class="right-check">

								<label class="check-item">陸生
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">淡水
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">半鹹水
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">海洋
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>保育類</p>
							</div>
							<div class="right-check">

								<label class="check-item">無
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">第一級
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">第二級
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">第三級
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>臺灣紅皮書評估</p>
							</div>
							<div class="right-check">

								<label class="check-item">EX
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">EW
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">RE
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CR
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EN
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">VU
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NT
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">LC
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">DD
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NA
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NE/無評估
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>IUCN評估</p>
							</div>
							<div class="right-check">
								<label class="check-item">EX
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EW
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">RE
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CR
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EN
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">VU
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CD
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NT
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">LC
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">DD
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NA
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NE/無評估
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>CITES附錄</p>
							</div>
							<div class="right-check">

								<label class="check-item">無
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">附錄一
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄二
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄三
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box">
							<div class="left-title">
								<p>更新日期</p>
							</div>
							<div class="item-box-set2">
								<div class="input-item select-100">
									<select name="" id="">
										<option value="">等於</option>
									</select>
								</div>
								<div class="input-item w-350">
									<div class="icon">
										<img src="{% static 'image/cald.svg' %}">
									</div>
									<input type="text" placeholder="1989-01-02">
								</div>
							</div>
						</div>
					</div>
					<div class="btn-are">
						<button>清除</button>
						<button class="blue-btn">搜尋</button>
					</div>

				</div>
			</div>
		</div>

		<div class="result-area">
			<div class="main-box">
				<div class="top-infbox">
					<p>共123,456筆</p>
					<div class="button-two">
						<button>下載CSV</button>
						<button>下載JSON</button>
					</div>
				</div>
				<!--手機版左側篩選改成下拉選單-->
				<div class="mb-cataselect">
					<select name="" id="">
						<option value="">界</option>
					</select>
					<select name="" id="">
						<option value="">動物界(10)</option>
					</select>
				</div>
				<div class="result-flexbox">
					<div class="left-cataselect">
						<ul class="ullist">
							<li>
								<div class="title-box">
									<h3>界</h3>
									<div class="blue-line"></div>
								</div>
								<div class="item-box">
									<button>動物界(10)</button>
									<button>植物界(7)</button>
								</div>
							</li>
							<li>
								<div class="title-box">
									<h3>階層</h3>
									<div class="blue-line"></div>
								</div>
								<div class="item-box">
									<!--目前選擇加上now-->
									<button class="now">種(10)</button>
									<button>科(7)</button>
								</div>
							</li>
							<li>
								<div class="title-box">
									<h3>原生/特有性</h3>
									<div class="blue-line"></div>
								</div>
								<div class="item-box">
									<button>臺灣特有(1)</button>
									<button>原生(7)</button>
								</div>
							</li>
							<li>
								<div class="title-box">
									<h3>地位</h3>
									<div class="blue-line"></div>
								</div>
								<div class="item-box">
									<button>有效(10)</button>
								</div>
							</li>
						</ul>
					</div>
					<div class="right-table">
						<div class="scro-m">
							<table class="table-style1" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>界</td>
									<td>所屬類群</td>
									<td>階層</td>
									<td>學名</td>
									<td>中文名</td>
									<td>地位</td>
									<td>原生/特有性</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">
											<div class="item">臺灣特有</div>
											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">
											<div class="item">臺灣特有</div>
											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>動物界</td>
									<td>裳蛾科</td>
									<td>種</td>
									<td><a href="#">Sesapa koshunica</a></td>
									<td>恆春瑟美苔蛾</td>
									<td>有效</td>
									<td>
										<div class="tag-green">

											<div class="item">原生</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="page-num">
							<!--現在位置加now-->
							<a href="#" class="num">1</a>
							<a href="#" class="back">
								<img src="{% static 'image/pagear1.svg' %}">
								<p>上一頁</p>
							</a>
							<a href="#" class="num">2</a>
							<a href="#" class="num now">3</a>
							<a href="#" class="num">4</a>
							<a href="#" class="next">
								<p>下一頁</p>
								<img src="{% static 'image/pagear2.svg' %}">
							</a>
							<a href="#" class="num">5</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock body %}
{% block script %}
<script>
	$('.select-button').on('click',function (event) {
		if( $(this).hasClass('now')){
			$(this).removeClass('now');
			$('.selection-box').slideUp();
		}else{
			$(this).addClass('now');
			$('.selection-box').slideDown();
		}
	});
	$('.more-option-button').on('click',function (event) {
		if( $(this).hasClass('now')){
			$(this).removeClass('now');
			$('.option-box2').slideUp();
		}else{
			$(this).addClass('now');
			$('.option-box2').slideDown();
		}
	});
</script>
{% endblock script %}
