{% extends 'base.html' %} 
{% load static %}
{% block head %}
<script src="{% static 'js/jquery.nice-select.js' %}"></script>
<link rel=stylesheet type="text/css" href="{% static 'css/nice-select.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


{% endblock head %}
{% block style %}
<style>


	.select2-container--default .select2-search--dropdown .select2-search__field {
		border: 0
	}

	.select2-search__field {
		font-size: 18px;
		color: #555;
	}

	.select2-search--dropdown {
		padding: 4px 15px 4px 15px;
	}

	.select2-dropdown  {
		color: #555;
		border-radius: 5px;
		border: solid 1px #ddd;
		font-size: 18px;
		text-align: left;
		line-height: 30px;
		margin-top: 2px;
	}

	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		color: #555 ;
		background-color: #f6f6f6 ;
   }
	.select2-container--default .select2-results__option {
		padding-left: 15px;
		color: #555 ;
   }

   
	#select2-keyword-container {
		margin: 0
	}

	
	.select2-container--default .select2-selection--single {
		border: 0;
	}

	.select2-container .select2-selection--single {
		background: #FFF;
		border-radius: 5px;
		border: 1px solid #ddd;
		padding: 0px 10px;
		font-size: 16px;
		height: 40px;
		width: 460px;
		max-width: 100%;
	}

	span.select2-selection.select2-selection--single {
        outline: none;
    }


	.select2-selection__arrow b {
		display:none !important;
	}
	.select2-container .select2-selection--single		{
		display: flex;
		align-items: center;
	}


	.f-bold {
		font-weight: bold !important;
	}

	.result-area {
		min-height: 300px
	}

	.nice-select.wide {
		width: 100% !important;
		padding: 0px 15px !important;
		font-size: 16px !important;
		height: 40px !important;
		max-width: 460px !important;
		background: url("/static/image/ard01.svg") center right 15px no-repeat;
		background-size: 16px auto !important;
		background-color: #FFF !important;
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		appearance: none !important;
	}

	@media only screen and (max-width: 767px) {
		.nice-select.wide {
			margin-bottom: 10px !important;
		}
	}


	.nice-select .list { max-height: 400px; overflow-y: scroll; }

	.nice-select.select-box {
		margin-right: 10px !important;
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		appearance: none !important;
		height: 60px !important;
		width: 170px !important;
		flex: 0 0 170px !important;
		border: 1px solid #ddd !important;
		border-radius: 30px !important;
		background: url("/static/image/ard01.svg") center right 20px no-repeat !important;
		background-size: 16px auto !important;
		padding: 0px 20px !important;
		color: #888 !important;
		font-size: 18px  !important;
	}
	
	@media only screen and (max-width: 767px) {
		.nice-select.select-box {
			font-size: 16px !important;
			width: 100% !important;
			height: 50px !important;
			flex: initial !important;
			margin-right: 0px !important;
		}
	}

	.nice-select.select-box .list, .nice-select.mb-select .list {
		left: 0 !important;
		right: 0 !important;
		
	}
	  
	.select-box span.current {
		line-height: 60px;
	}


	.nice-select.mb-select {
        background: #FFF;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 0px 15px;
        font-size: 16px;
        height: 40px;
        width: calc(50% - 5px);
        max-width: 460px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("/static/image/ard01.svg") center right 15px no-repeat;
        background-size: 16px auto;
        background-color: #FFF
    }


	/* loading box 調整 */

	.loadingbox {
		margin-top: -80px
	}

	@media only screen and (max-width: 999px) {
		.loadingbox {
			margin-top: -60px
		}
	}
	
</style>
{% endblock style %}

{% block body %}
<div class="loadingbox d-none">
	<img class="center-logo" src="{% static 'image/logo-img.svg' %}" alt="臺灣物種名錄">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
</div>

<div class="page-top">
	<div class="short-top">
		<div class="path">
			<a href="{% url 'index' %}">首頁</a> > <p>物種名錄</p>
		</div>
		<div class="main-box">
			<div class="float-dot-yel">
				<img src="{% static 'image/cir_yel.png' %}">
			</div>
			<div class="float-dot-blue">
				<img src="{% static 'image/cir_blue.png' %}">
			</div>
			<div class="title-box">
				<h2>物種名錄</h2>
				<p>CATALOGUE</p>
			</div>
		</div>
	</div>
		<div class="splist-search-box">
			<div class="main-box">
				<div class="left-box">
					<p>學名/中文名</p>
					<select class="select-box" name="name-select" id="">
						<option value="contain">包含</option>
						<option value="equal">等於</option>
						<option value="startwith">開頭為</option>
					</select>
				</div>
				<div class="cont-search-bar">
					<input type="text" name="keyword" placeholder="請輸入關鍵字" value='{{ keyword|default_if_none:"" }}'>
					<button class="search" onclick="getData()">
						<svg id="Group_6882" data-name="Group 6882" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36.847" height="36.775" viewBox="0 0 36.847 36.775">
							<defs>
								<clipPath id="clip-path">
									<rect id="Rectangle_65" data-name="Rectangle 65" width="36.847" height="36.775" fill="#4c8da7"/>
								</clipPath>
							</defs>
							<g id="Group_135" data-name="Group 135">
								<path id="Path_6196" data-name="Path 6196" d="M0,15.8V13.791c.093-.611.172-1.224.282-1.832A14.8,14.8,0,0,1,11.626.36C12.373.206,13.135.118,13.89,0h1.943c.091.022.182.049.274.065.813.14,1.642.22,2.438.424a14.772,14.772,0,0,1,9.4,21.166c-.407.768-.9,1.489-1.4,2.3a2.517,2.517,0,0,1,.305.233q4.493,4.478,8.985,8.958a3.734,3.734,0,0,1,1.016,1.4v.718a2.258,2.258,0,0,1-.753,1.148,1.856,1.856,0,0,1-2.5-.29q-4.694-4.682-9.383-9.369A1.8,1.8,0,0,1,24,26.422c-.154.116-.212.156-.27.2A14.833,14.833,0,0,1,.359,17.991C.208,17.268.118,16.532,0,15.8m3.673-1.04A11.15,11.15,0,1,0,14.861,3.676,11.17,11.17,0,0,0,3.673,14.762" fill="#4c8da7"/>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="more-selection-area">
			<!--按下select-button時加上now的class-->
			<div class="select-button ">
				<div class="main-box">
					<p>進階選項</p>
					<div class="arr">
						<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
							<g id="tree-arr" transform="translate(-1545.086 -550.086)">
								<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#FFF" stroke-linecap="round" stroke-width="2"/>
								<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#FFF" stroke-linecap="round" stroke-width="2"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="selection-box">
				<div class="main-box">
					<form id="moreForm" action="{% url 'download_search_results' %}" method="POST">
					{% csrf_token %}
					<div class="option-box1">
						<div class="item-box">
							<div class="left-title">
								<p>較高分類群</p>
							</div>
							<div class="input-item">
								<select class="taxon_group" id="taxon_group"></select>
							</div>
						</div>
						<div class="item-box">
							<div class="left-title">
								<p>分類階層</p>
							</div>
							<div class="right-option">
								<div class="input-item select-170">
									<select class="wide" name="rank-select">
										<option value="none"></option>
										<option value="34">種</option>
										<option value="35">亞種</option>
										<option value="37">變種</option>
										<option value="40">型</option>
										<option value="38">亞變種</option>
										<option value="36">雜交亞種</option>
										<option value="39">雜交變種</option>
										<option value="42">特別品型</option>
										<option value="30">屬</option>
										<option value="31">亞屬</option>
										<option value="32">組|節</option>
										<option value="33">亞組|亞節</option>
										<option value="26">科</option>
										<option value="27">亞科</option>
										<option value="28">族</option>
										<option value="29">亞族</option>
										<option value="22">目</option>
										<option value="23">亞目</option>
										<option value="24">下目</option>
										<option value="25">超科|總科</option>
										<!--<option value="">系</option>-->
										<!--<option value="">組</option>-->
										<option value="18">綱</option>
										<option value="19">亞綱</option>
										<option value="20">下綱</option>
										<option value="21">超目|總目</option>
										<option value="12">門</option>
										<option value="13">亞門</option>
										<option value="14">下門</option>
										<option value="15">微門</option>
										<option value="16">小門</option>
										<option value="17">超綱|總綱</option>
										<option value="7">部|類</option>
										<option value="8">亞部|亞類</option>
										<option value="9">下部|下類</option>
										<option value="10">小部|小類</option>
										<option value="11">超門|總門</option>
										<option value="3">界</option>
										<option value="4">亞界</option>
										<!--<option value="">支</option>-->
										<option value="5">下界</option>
										<option value="6">超部|總部</option>
										<option value="1">域</option>
										<option value="2">總界</option>
										<!--<option value="">亞域</option>-->					
									</select>
								</div>							
								<div class="alread-select">
								</div>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>特有性</p>
							</div>
							<div class="right-check">
								<label class="check-item">臺灣特有
									<input type="checkbox" name="is_endemic">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>原生/外來性</p>
							</div>
							<div class="right-check">
								<label class="check-item">原生
									<input type="checkbox" name="alien_type" value="native">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">歸化
									<input type="checkbox" name="alien_type" value="naturalized">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">入侵
									<input type="checkbox" name="alien_type" value="invasive">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">栽培豢養
									<input type="checkbox" name="alien_type" value="cultured">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<!--點擊後給class now-->
						<div class="more-option-button">
							<p>更多項目</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15.043" height="15.043" viewBox="0 0 15.043 15.043">
								<g id="plussvg" transform="translate(-1553.5 -534.5)">
									<line id="Line_211" data-name="Line 211" x1="13.043" transform="translate(1554.5 542.021)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
									<line class="minus" id="Line_213" data-name="Line 213" x1="13.043" transform="translate(1561.021 535.5) rotate(90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								</g>
							</svg>

						</div>
					</div>
					<!--點擊更多後展開option-box2-->
					<div class="option-box2">
						<div class="item-box check-set">
							<div class="left-title">
								<p>棲地環境</p>
							</div>
							<div class="right-check">
								<label class="check-item">陸生
									<input type="checkbox" name="is_terrestrial">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">淡水
									<input type="checkbox" name="is_freshwater">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">半鹹水
									<input type="checkbox" name="is_brackish">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">海洋
									<input type="checkbox" name="is_marine">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>保育類</p>
							</div>
							<div class="right-check">
								<label class="check-item">無
									<input type="checkbox" name="protected_category" value="none">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">第一級
									<input type="checkbox" name="protected_category" value="I">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">第二級
									<input type="checkbox" name="protected_category" value="II">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">第三級
									<input type="checkbox" name="protected_category" value="III">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>臺灣紅皮書評估</p>
							</div>
							<div class="right-check">

								<label class="check-item">EX
									<input type="checkbox" name="red_category" value="NEX">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">EW
									<input type="checkbox" name="red_category" value="NEW">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">RE
									<input type="checkbox" name="red_category" value="NRE">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CR
									<input type="checkbox" name="red_category" value="NCR">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EN
									<input type="checkbox" name="red_category" value="NEN">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">VU
									<input type="checkbox">
									<span class="checkmark" name="red_category" value="NVU"></span>
								</label>
								<label class="check-item">NT
									<input type="checkbox" name="red_category" value="NNT">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">LC
									<input type="checkbox" name="red_category" value="NLC">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">DD
									<input type="checkbox" name="red_category" value="NDD">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NA
									<input type="checkbox" name="red_category" value="NA">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NE/無評估
									<input type="checkbox" name="red_category" value="NE">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>IUCN評估</p>
							</div>
							<div class="right-check">
								<label class="check-item">EX
									<input type="checkbox" name="iucn_category" value="EX">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EW
									<input type="checkbox" name="iucn_category" value="EW">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">RE
									<input type="checkbox" name="iucn_category" value="RE">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CR
									<input type="checkbox" name="iucn_category" value="CR">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EN
									<input type="checkbox" name="iucn_category" value="EN">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">VU
									<input type="checkbox" name="iucn_category" value="VU">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CD
									<input type="checkbox" name="iucn_category" value="CD">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NT
									<input type="checkbox" name="iucn_category" value="NT">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">LC
									<input type="checkbox" name="iucn_category" value="LC">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">DD
									<input type="checkbox" name="iucn_category" value="DD">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NA
									<input type="checkbox" name="iucn_category" value="NA">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NE/無評估
									<input type="checkbox" name="iucn_category" value="NE">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>CITES附錄</p>
							</div>
							<div class="right-check">
								<label class="check-item">無
									<input type="checkbox" name="cites" value="NC">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄一
									<input type="checkbox" name="cites" value="1">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄二
									<input type="checkbox" name="cites" value="2">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄三
									<input type="checkbox" name="cites" value="3">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box">
							<div class="left-title">
								<p>更新日期</p>
							</div>
							<div class="item-box-set2">
								<div class="input-item select-100">
									<select class="wide" name="date-select" id="">
										<option value="gl">大於</option>
										<option value="eq">等於</option>
										<option value="sl">小於</option>
									</select>
								</div>
								<div class="input-item w-350">
									<div class="icon">
										<img src="{% static 'image/cald.svg' %}">
									</div>
									<input type="date" placeholder="1990-01-01" name="date">
								</div>
							</div>
						</div>
					</div>
					</form>
					<div class="btn-are">
						<button onclick="resetForm()">清除</button>
						<button class="blue-btn" onclick="getData()">搜尋</button>
					</div>

				</div>
			</div>
		</div>

	<div class="result-area">
		<div class="main-box">
			<div class="top-infbox">
				<p class="d-none">共<span id="total-count"></span>筆</p>
				<div class="button-two" style="display: none">
					<button onclick="downloadData('csv')">下載CSV</button>
					<button onclick="downloadData('json')">下載JSON</button>
				</div>
			</div>
			<div class="result-flexbox" style="display: none">
				<div class="left-cataselect">
					<ul class="ullist" >
						<input type="hidden" name="hidden-facet" value="">
						<input type="hidden" name="hidden-value" value="">
						<li>
							<div class="title-box">
								<h3>界</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box kingdom-box">
							</div>
						</li>
						<li>
							<div class="title-box">
								<h3>階層</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box rank-box">
								<!--目前選擇加上now-->
							</div>
						</li>
						<li>
							<div class="title-box">
								<h3>特有性</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box endemic-box">
							</div>
						</li>
						<li>
							<div class="title-box">
								<h3>原生/外來性</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box alien_type-box">
							</div>
						</li>
						<li>
							<div class="title-box">
								<h3>地位</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box status-box">
							</div>
						</li>
					</ul>
				</div>
				<div class="right-table" style="display: none">
					<div class="scro-m">
						<table class="table-style1" border="0" cellpadding="0" cellspacing="0">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock body %}
{% block script %}
<script>
	// 要有其中之一存在才送出
	let params = ['keyword','taxon_group','rank','is_endemic',
				  'alien_type','is_terrestrial','is_freshwater','is_brackish','is_marine',
				  'protected_category','red_category','iucn_category','cites','date']


	let more_opts = ['is_terrestrial','is_freshwater','is_brackish','is_marine',
				  'protected_category','red_category','iucn_category','cites','date']

	function changeAction(){
		// 進階選項控制
		let filter = '{{ filter }}';

		let queryString = window.location.search;
		let urlParams = new URLSearchParams(queryString);

		let has_search_parm = false;
		for (const [key, value] of urlParams) {
			if ((params.includes(key))&(urlParams.get(key)!='')){
				has_search_parm = true;
				break
			}
		}

		for (const [key, value] of urlParams) {
			if ((more_opts.includes(key))&(urlParams.get(key)!='')){
				// 打開moreOption2
				filter = '2';
				break;
			}
		}
		if (has_search_parm){
			getData(from_url=true);
		}


		if (filter=='0'){
			$('.select-button').removeClass('now');
			$('.selection-box').slideUp();
			$('.more-option-button').removeClass('now');
			$('.option-box2').slideUp();

		} else if (filter=='1'){
			if (!$('.select-button').hasClass('now')){
				$('.select-button').addClass('now');
				$('.selection-box').slideDown();
			}	
			$('.more-option-button').removeClass('now');
			$('.option-box2').slideUp();

		} else if (filter=='2'){
			if (!$('.select-button').hasClass('now')){
				$('.select-button').addClass('now');
				$('.selection-box').slideDown();
			}
			if (!$('.more-option-button').hasClass('now')){
				$('.more-option-button').addClass('now');
				$('.option-box2').slideDown();
			}
		}
	  }


	function resetForm(){
		$("#moreForm")[0].reset();
		$('input[name=keyword]').val('')
		$('select[name=name-select]').val('contain');
		$('select[name=name-select]').niceSelect('update'); 
		$('select[name=rank-select]').val('');
		$('select[name=rank-select]').niceSelect('update'); 
		r_array = [1,3,7,12,18,22,26,30,34]
		for( r of r_array){
			$(`.list li[data-value=${r}]`).addClass('f-bold')
		}
		$('select[name=date-select]').val('gl');
		$('select[name=date-select]').niceSelect('update'); 
		$('.alread-select').html('')
		$('#taxon_group').val('');
		$('#taxon_group').trigger('change');
	}

	function isValidDate(dateString) {
		var regEx = /^\d{4}-\d{2}-\d{2}$/;
		if(!dateString.match(regEx)) return false;  // Invalid format
		var d = new Date(dateString);
		var dNum = d.getTime();
		if(!dNum && dNum !== 0) return false; // NaN value, Invalid date
		return d.toISOString().slice(0,10) === dateString;
	  }
	  
	function removeRankItem(obj){
		obj.parent('.item').remove()
		// 如果全部選項都沒有的話，select換成reset
		if ($('.alread-select .item').length == 0) {
			$("li.option.selected").removeClass('selected');
			$(".select-170 span.current").html('');
		}
	}

	function changeFacet(facet,value,from_url=false,page=1,from_mb_select=false){

		// 如果是本來就active的facet則改為沒有facet
		if ($(`button.facet-${facet}-${value}`).hasClass('now')){
			// 改回沒有facet
			$(".facet-btn").removeClass('now');
			$('input[name=hidden-value]').val('');
			$('input[name=hidden-facet]').val('');
			getData(false);
		} else {
			$(".facet-btn").removeClass('now');
			$(`button.facet-${facet}-${value}`).addClass('now');
			$('input[name=hidden-value]').val(value);
			$('input[name=hidden-facet]').val(facet);

			// 手機選單但不要cause onchange
			if (!from_mb_select){
				$('select[name=mb-select]').val(facet);
				$('select[name=mb-select]').niceSelect('update');
				$('select[name=mb-select]').trigger('change')
				$('select[name=mb-select-sub]').val($(`option.facet-${facet}-${value}`).text().trim());
				$('select[name=mb-select-sub]').niceSelect('update');
			}
			updateData(page, from_url);
		}
		
	}

	function updateData(page, from_url=false){

	
		let total_page = $('input[name=total_page]').val();
		if (($('input[name=date]').val()!='')&(!isValidDate($('input[name=date]').val()))){
			alert('日期格式錯誤')
		} else {

			// 從facet或頁碼點選
			// 只修改表格內容，不修改facet
			$('.loadingbox').removeClass('d-none');
			
			let query_str = $('form').find('input[name!=csrfmiddlewaretoken]').serialize() + "&keyword=" +  $('input[name=keyword]').val() +
					'&name-select=' + $('select[name=name-select] option:selected').val() +
					'&page=' + page + '&total_page=' + total_page + '&facet=' + $('input[name=hidden-facet]').val() + 
					'&value=' + $('input[name=hidden-value]').val()  
					
			if ( $('#taxon_group').select2('data').length > 0 ){
				query_str = query_str
					+ "&taxon_group=" +  $('#taxon_group').select2('data')[0]['id'] +
					"&taxon_group_str=" + $('#taxon_group').select2('data')[0]['text'] 
			}
			if (!from_url){
				var newRelativePathQuery = window.location.pathname + '?' + query_str + '&page=1';
				history.pushState(null, '', newRelativePathQuery);
			}

			$.ajax({
				url: "{% url 'update_catalogue_table' %}",
				data: query_str + '&csrfmiddlewaretoken=' + '{{ csrf_token }}',		
				type: 'POST',
				dataType : 'json',
			})
			.done(function(results) {
				$('.loadingbox').addClass('d-none');
				// 修改共幾筆
				$('#total-count').html(results['total_count']);
				// 清空頁碼
				$('.page-num').remove()
				$('.table-style1').html(`<tr>
											<td>界</td>
											<td>所屬類群</td>
											<td>階層</td>
											<td>學名</td>
											<td>中文名</td>
											<td>地位</td>
											<td>原生/外來/特有性</td>
										</tr>`)
				for (let i = 0; i < results.data.length; i++) {
					let tag = '';
					if (results.data[i]['is_endemic'] != ''){
						tag += '<div class="item">' + results.data[i]['is_endemic'] + '</div>'
					}
					if (results.data[i]['alien_type'] != ''){
						tag += '<div class="item">' + results.data[i]['alien_type'] + '</div>'
					}

					$('.table-style1').append(
						`<tr>
							<td>${results.data[i]['kingdom']}</td>
							<td>${results.data[i]['taxon_group']}</td>
							<td>${results.data[i]['rank']}</td>
							<td><a href="/taxon/${results.data[i]['taxon_id']}" target="_blank">${results.data[i]['name']}</a></td>
							<td>${results.data[i]['common_name_c']}</td>
							<td>${results.data[i]['status']}</td>
							<td>
								<div class="tag-green">
									${tag}
								</div>
							</td>
						</tr>`)
				}

				$('.page-num').remove()

					// 頁碼
					if (results.page.total_page > 1){  // 判斷超過一頁，有才加分頁按鈕
						$('.scro-m').after(
						`	<div class="page-num">
							<!--現在位置加now-->
							<a href="javascript:;" onclick="updateData(1)" class="num page-start">1</a>
							<a href="javascript:;" onclick="updateData(${results.page.current_page - 1})" class="back">
								<img src="{% static 'image/pagear1.svg' %}">
								<p>上一頁</p>
							</a>
							<a href="javascript:;" onclick="updateData(${results.page.current_page + 1})" class="next">
								<p>下一頁</p>
								<img src="{% static 'image/pagear2.svg' %}">
							</a>
							<a href="javascript:;" onclick="updateData(${results.page.total_page})" class="num" id="page-end">${results.page.total_page}</a>
						</div>
						`)
						$('.page-num').append(`
							<input type="hidden" name="total_page" value="${results.page.total_page}">
						`)
					}

					if (results.page.current_page==1){
						$('.back').attr("onclick","");
					} else if (results.page.current_page==results.page.total_page){
						$('.next').attr("onclick","");
					}
						
					let html = ''
					for (let i = 0; i < results.page.page_list.length; i++) {
						if (results.page.page_list[i] == results.page.current_page){
						html += `<a class="num now" href="javascript:;" onclick="updateData(${results.page.page_list[i]})">${results.page.page_list[i]}</a> `;
						} else {
						html += `<a class="num" href="javascript:;" onclick="updateData(${results.page.page_list[i]})">${results.page.page_list[i]}</a>  `
						}
					}
					$('.back').after(html)

			})
			.fail(function( xhr, status, errorThrown ) {
			$('.loadingbox').addClass('d-none');
			alert('發生未知錯誤！請聯絡管理員')
			console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
			}) 
			
		}

	}
	  

	function downloadData(format){

		var input1 = $("<input>").attr("name", "keyword").attr("type", "hidden").val($('input[name=keyword]').val());
		var input2 = $("<input>").attr("name", "name-select").attr("type", "hidden").val($('select[name=name-select] option:selected').val());
		var input3 = $("<input>").attr("name", "file_format").attr("type", "hidden").val(format);

		$('form').append(input1).append(input2).append(input3);
		//console.log($('form'))

		$('form').submit()
		
	}

	function getData(from_url){

		let query_str;
		let facet = '';
		let value = '';
		let page = 1;
		if (from_url){
			query_str = window.location.search;

			let urlParams = new URLSearchParams(query_str);
			facet = urlParams.get('facet');
			value = urlParams.get('value');
			page = urlParams.get('page');

			// 多選系列
			let mt = ['rank','alien_type','protected_category','red_category','iucn_category','cites']
			mt.forEach(function(m) {
				if (urlParams.getAll(m)) {
					if (m=='rank'){
						urlParams.getAll(m).forEach(function(me){
							// 先確認是不是存在

							if (!$(`input[name=rank][value="${me}"]`).length){
								$('.alread-select').append(
								`<div class="item">
									<p>${$(`option[value="${me}"]`).html()}</p>
									<input type="hidden" name="rank" value="${me}">
									<button class="remove-alread-select" onclick="removeRankItem($(this))">
										<img src="{% static 'image/w-xx.svg' %}">
									</button>
								</div>`)
							}
							})
					} else {
						urlParams.getAll(m).forEach(function(me){
							$(`input[name=${m}][value="${me}"]`).prop('checked', true)
						})
					}
				}
			});

			// val 系列
			let vs = ['keyword','date']
			vs.forEach(function(v) {
				if (urlParams.get(v)) {
					$(`input[name=${v}]`).val(urlParams.get(v))
				}
			});

			// taxon group
			if (urlParams.get('taxon_group')){
				$('#taxon_group').append(`<option value="${urlParams.get('taxon_group')}">${urlParams.get('taxon_group_str')}</option>`)
				$('[name=taxon_group]').val(urlParams.get('taxon_group'));
			}

			// is 系列
			let is = ['is_endemic','is_terrestrial','is_freshwater','is_brackish','is_marine']
			is.forEach(function(i) {
				if (urlParams.get(i)=='on') {
					$(`input[name=${i}]`).prop('checked', true)
				}
			});
		
			// nice select 系列
			let ns = ['name-select','date-select']
			ns.forEach(function(n) {
				if (urlParams.get(n)){
					$(`select[name=${n}]`).val(urlParams.get(n));
					$(`select[name=${n}]`).niceSelect('update'); 
				}
			});

		} else {
			query_str = $('form').find('input[name!=csrfmiddlewaretoken]').serialize() + "&keyword=" +  $('input[name=keyword]').val() +
			'&name-select=' + $('select[name=name-select] option:selected').val() 
			if ($('#taxon_group').select2('data').length > 0){
				query_str = query_str + "&taxon_group=" +  $('#taxon_group').select2('data')[0]['id'] +
						"&taxon_group_str=" + $('#taxon_group').select2('data')[0]['text'] 
			}
			var newRelativePathQuery = window.location.pathname + '?' + query_str + '&page=1';
			history.pushState(null, '', newRelativePathQuery);
		}

		// 確認至少有一個搜尋項
		let newUrlParams = new URLSearchParams(query_str);

		let has_search_parm = false;
		for (const [key, value] of newUrlParams) {
			if (params.includes(key)&newUrlParams.get(key)!=''){
				has_search_parm = true;
				break
			}
		}

		if (!has_search_parm) {
			alert('請至少輸入一個搜尋項目，若有輸入日期必須填入完整年月日');
			window.enterPressed = false;

		} else if ((!isValidDate($('input[name=date]').val()))&($('input[name=date]').val()!='')){
			alert('日期格式錯誤');
			window.enterPressed = false;
		} else {

			$('.loadingbox').removeClass('d-none');

			if (query_str.startsWith('?')){
				query_str = query_str.substring(1)
			}

			$.ajax({
				url: "{% url 'catalogue' %}",
				data: query_str + '&csrfmiddlewaretoken=' +  '{{ csrf_token }}',
				type: 'POST',
				dataType : 'json',
			})
			.done(function(results) {
				window.enterPressed = false;
				// 清空頁碼 & facet
				$('.page-num').remove()
				$('.mb-cataselect').remove()
				$('.table-style1').html('')
				$('.button-two').hide()
				$('.result-flexbox').hide()
				$('.kingdom-box, .rank-box, .endemic-box, .status-box, .alien_type-box').html('')

				$('#total-count').parent('p').removeClass('d-none');
				$('.loadingbox').addClass('d-none');
				$('#total-count').html(results['count']['total'][0]['count']);
				if (results['count']['total'][0]['count']>0){

					$('.button-two').show()
					$('.result-flexbox').show()
					$('.right-table').show()


					$('.top-infbox').after(
					`<!--手機版左側篩選改成下拉選單-->
					<div class="mb-cataselect">
						<select name="mb-select" class="mb-select">
							<option value=""></option>
						</select>
						<select name="mb-select-sub" class="mb-select" id="">
						</select>
					</div>`)

					$('select[name=mb-select]').on('change', function() {
						if ($('select[name=mb-select] option:selected').text() != ''){
							let opt_str = $(`.${this.value}-box`).html();
							opt_str = opt_str.replaceAll('button','option')
							$('select[name=mb-select-sub]').html('<option value=""></option>')
							$('select[name=mb-select-sub]').append(opt_str)
							$('select[name=mb-select-sub]').niceSelect('update');
						} else {
							// 如果選擇空的則清空 但目前的判斷可能在他們完全還沒有選擇的時候就清空
							if ($(".facet-btn").hasClass('now')){
								$(".facet-btn").removeClass('now');
								$('input[name=hidden-value]').val('');
								$('input[name=hidden-facet]').val('');
								getData(false);
							}
						}
					});

					$('select[name=mb-select-sub]').on('change', function(){

						if ($('select[name=mb-select-sub] option:selected').text() != ''){
							// changeFacet
							let f_str = $('select[name=mb-select-sub] option:selected').attr('class');
							changeFacet(f_str.split(' ')[1].split('-')[1],f_str.split(' ')[1].split('-')[2],false,1,true)
						} else {
						// 如果選擇空的則清空
							if ($(".facet-btn").hasClass('now')){
								$(".facet-btn").removeClass('now');
								$('input[name=hidden-value]').val('');
								$('input[name=hidden-facet]').val('');
								getData(false);
							}
						}
					})
			

					if (results.count.kingdom.length > 0) {
						for (let i = 0; i < results.count.kingdom.length; i++) {
							$('.kingdom-box').append(`<button class="facet-btn facet-kingdom-${results.count.kingdom[i]['category']}" onclick="changeFacet('kingdom','${results.count.kingdom[i]['category']}');">
													  ${results.count.kingdom[i]['category_c']}(${results.count.kingdom[i]['count']})</button>`)
						}
						// 手機選單
						$('select[name=mb-select]').append(`<option value="kingdom">界</option>`)
					} else {
						$('.kingdom-box').parent('li').hide()
					}

					if (results.count.rank.length>0){
						for (let i = 0; i < results.count.rank.length; i++) {
							$('.rank-box').append(`<button class="facet-btn  facet-rank-${results.count.rank[i]['category']}" onclick="changeFacet('rank','${results.count.rank[i]['category']}')">
													${results.count.rank[i]['category_c']}(${results.count.rank[i]['count']})</button>`)
						}
						$('select[name=mb-select]').append(`<option value="rank">階層</option>`)
					} else {
						$('.rank-box').parent('li').hide()
					}

					if (results.count.is_endemic.length>0){
						for (let i = 0; i < results.count.is_endemic.length; i++) {
							$('.endemic-box').append(`<button class="facet-btn facet-endemic-${results.count.is_endemic[i]['category']}" onclick="changeFacet('endemic','${results.count.is_endemic[i]['category']}')">
													  ${results.count.is_endemic[i]['category_c']}(${results.count.is_endemic[i]['count']})</button>`)
						}
						$('select[name=mb-select]').append(`<option value="endemic">特有性</option>`)
					} else {
						$('.endemic-box').parent('li').hide()
					}

					if (results.count.alien_type.length>0){
						for (let i = 0; i < results.count.alien_type.length; i++) {
							$('.alien_type-box').append(`<button class="facet-btn facet-alien_type-${results.count.alien_type[i]['category']}" onclick="changeFacet('alien_type','${results.count.alien_type[i]['category']}')">
													${results.count.alien_type[i]['category_c']}(${results.count.alien_type[i]['count']})</button>`)
						}
						$('select[name=mb-select]').append(`<option value="alien_type">原生/外來性</option>`)
					} else {
						$('.alien_type-box').parent('li').hide()
					}


					if (results.count.status.length>0){
						for (let i = 0; i < results.count.status.length; i++) {
							$('.status-box').append(`<button class="facet-btn facet-status-${results.count.status[i]['category']}" onclick="changeFacet('status','${results.count.status[i]['category']}')">
													${results.count.status[i]['category_c']}(${results.count.status[i]['count']})</button>`)
						}
						$('select[name=mb-select]').append(`<option value="status">地位</option>`)
					} else {
						$('.status-box').parent('li').hide()
					}

					$('.table-style1').html(`<tr>
												<td>界</td>
												<td>所屬類群</td>
												<td>階層</td>
												<td>學名</td>
												<td>中文名</td>
												<td>地位</td>
												<td>原生/特有性</td>
											</tr>`)

					for (let i = 0; i < results.data.length; i++) {
						let tag = '';
						if (results.data[i]['is_endemic'] != ''){
							tag += '<div class="item">' + results.data[i]['is_endemic'] + '</div>'
						}
						if (results.data[i]['alien_type'] != ''){
							tag += '<div class="item">' + results.data[i]['alien_type'] + '</div>'
						}
						$('.table-style1').append(
							`<tr>alien_type
								<td>${results.data[i]['kingdom']}</td>
								<td>${results.data[i]['taxon_group']}</td>
								<td>${results.data[i]['rank']}</td>
								<td><a href="/taxon/${results.data[i]['taxon_id']}" target="_blank">${results.data[i]['name']}</a></td>
								<td>${results.data[i]['common_name_c']}</td>
								<td>${results.data[i]['status']}</td>
								<td>
									<div class="tag-green">
										${tag}
									</div>
								</td>
							</tr>`)
					}

					// 頁碼
					if (results.page.total_page > 1){  // 判斷超過一頁，有才加分頁按鈕
						$('.scro-m').after(
						`<div class="page-num">
							<!--現在位置加now-->
							<a href="javascript:;" onclick="updateData(1)" class="num page-start">1</a>
							<a href="javascript:;" onclick="updateData(${results.page.current_page - 1})" class="back">
								<img src="{% static 'image/pagear1.svg' %}">
								<p>上一頁</p>
							</a>
							<a href="javascript:;" onclick="updateData(${results.page.current_page + 1})" class="next">
								<p>下一頁</p>
								<img src="{% static 'image/pagear2.svg' %}">
							</a>
							<a href="javascript:;" onclick="updateData(${results.page.total_page})" class="num" id="page-end">${results.page.total_page}</a>
						</div>
						`)
						$('.page-num').append(`
							<input type="hidden" name="total_page" value="${results.page.total_page}">
						`)
					}

					if (results.page.current_page==1){
						$('.back').attr("onclick","");
					} else if (results.page.current_page==results.page.total_page){
						$('.next').attr("onclick","");
					}
						
					let html = ''
					for (let i = 0; i < results.page.page_list.length; i++) {
						if (results.page.page_list[i] == results.page.current_page){
						html += `<a class="num now" href="javascript:;" onclick="updateData(${results.page.page_list[i]})">${results.page.page_list[i]}</a> `;
						} else {
						html += `<a class="num" href="javascript:;" onclick="updateData(${results.page.page_list[i]})">${results.page.page_list[i]}</a>  `
						}
					}
					$('.back').after(html)
			
					// nice select
					$('select[name=mb-select]').niceSelect();
					$('select[name=mb-select-sub]').niceSelect();

					// 從網址進入如果有facet
					if((facet != '') & (value != '') & (facet != null) & (value != null)){
						changeFacet(facet, value, true, page, false)
					}

				} else {
					$('.mb-cataselect').hide()
				}
			})
			.fail(function( xhr, status, errorThrown ) {
			$('.loadingbox').addClass('d-none');
			alert('發生未知錯誤！請聯絡管理員')
			window.enterPressed = false;
			console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
			}) 
		}
	}

	$(function(){
		// 較高分類群 autocomplete
		$("#taxon_group").select2({
			language: {
				"noResults": function(){
					return "查無結果";
				},		 
				searching: function(params) {
					if (params.term != undefined){
						if (params.term.match(/[\u3400-\u9FBF]/)){
							if (params.term.length >1){
								return '查詢中...';
							}
						} else if (params.term.trim().length  > 2){
							return '查詢中...';
						} else {
							throw false;  
						}					
					}
				}
			},		
			ajax: {
				dataType: 'json',
				data: function (params) {
					if (params.term.match(/[\u3400-\u9FBF]/)){
						if (params.term.length >1){
							return {
								keyword: params.term,
								from_tree: 'true'
								};
						}
					} else if (params.term.trim().length  > 2){
						return {
							keyword: params.term,
							from_tree: 'false'
							};
	
					} else {
						throw false;  
					}
				},			  
				jsonpCallback: 'jsonCallback',
				url: '{% url "get_autocomplete_taxon" %}',
				processResults: function (data) {
					return {
						results: $.map(data, function (item) {
							return {
								text: item.text,
								id: item.id,
							}
						})
					};
				}
			}
		});
		

		// 按 enter 直接查詢
		window.enterPressed = false;

		 $(document).on('keypress', function(e) {
			if (e.which === 13 && !window.enterPressed)
			{
				window.enterPressed = true;
				getData();
			}
		});
		

		// 如果直接從帶有參數網址列進入
		changeAction(); 

		// 如果按上下一頁
		window.onpopstate = function(event) {
			changeAction();
		};

		// 選項設定
		$('select[name=rank-select]').niceSelect();
		// bold
		r_array = [1,3,7,12,18,22,26,30,34]
		for( r of r_array){
			$(`.list li[data-value=${r}]`).addClass('f-bold')
		}
		$('select[name=name-select]').niceSelect();
		$('select[name=date-select]').niceSelect();

		// 階層選項控制
		/*
		$('.remove-alread-select').on('click', function(){
			$(this).parent('.item').remove()
		})*/

		$('select[name=rank-select]').on('change', function(){
			// 確認沒有重複
			if (($('select[name=rank-select] option:selected').text() != '')&($(`.item input[name=rank][value="${$('select[name=rank-select] option:selected').val()}"]`).length == 0)){
				$('.alread-select').append(
					`<div class="item">
						<p>${$('select[name=rank-select] option:selected').text()}</p>
						<input type="hidden" name="rank" value="${$('select[name=rank-select] option:selected').val()}">
						<button class="remove-alread-select" onclick="removeRankItem($(this))">
							<img src="{% static 'image/w-xx.svg' %}">
						</button>
					</div>`)
			}
		})

	});


	$('.select-button').on('click',function (event) {
		if( $(this).hasClass('now')){
			$(this).removeClass('now');
			$('.selection-box').slideUp();
		}else{
			$(this).addClass('now');
			$('.selection-box').slideDown();
		}
	});
	$('.more-option-button').on('click',function (event) {
		if( $(this).hasClass('now')){
			$(this).removeClass('now');
			$('.option-box2').slideUp();
		}else{
			$(this).addClass('now');
			$('.option-box2').slideDown();
		}
	});
</script>
{% endblock script %}
