{% extends 'base.html' %} 
{% load static %}

{% block head %}
<script src="{% static 'js/jquery.nice-select.js' %}"></script>
<link rel=stylesheet type="text/css" href="{% static 'css/nice-select.css' %}">
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
<script src="{% static 'js/select2.min.js' %}"></script>
{% endblock head %}

{% block style %}
<link rel=stylesheet type="text/css" href="{% static 'css/catalogue.css' %}">
{% endblock style %}

{% block body %}
{% csrf_token %}
<input type="hidden" name="filter" value="{{ filter }}">
<div class="loadingbox d-none">
	<img class="center-logo" src="{% static 'image/logo-img.svg' %}" alt="臺灣物種名錄">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
</div>

<!--離線產生彈跳框-->
<div class="popbox downloadpop d-none">
	<div class="rel">
		<div class="w-bg">
			<div class="xx">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
					<g id="Group_8961" data-name="Group 8961" transform="translate(-1288 -210)">
						<g id="Ellipse_145" data-name="Ellipse 145" transform="translate(1288 210)" fill="#fff" stroke="#4c8da7" stroke-width="2">
							<circle cx="25" cy="25" r="25" stroke="none"/>
							<circle cx="25" cy="25" r="24" fill="none"/>
						</g>
						<g id="Group_7748" data-name="Group 7748" transform="translate(100.696 1061.993) rotate(-45)">
							<line id="Line_265" data-name="Line 265" x2="25" transform="translate(1429.5 271.5)" fill="none" stroke="#4c8da7" stroke-linecap="round" stroke-width="2"/>
							<line id="Line_266" data-name="Line 266" x2="25" transform="translate(1442.5 259.5) rotate(90)" fill="none" stroke="#4c8da7" stroke-linecap="round" stroke-width="2"/>
						</g>
					</g>
				</svg>
			</div>
			<div class="title-area">
				<h2>下載檔案 <span></span></h2>
			</div>
			<div class="error-form">
				<form id="downloadForm">
					<div class="mark-title">
						<p>檔案為離線產生，處理完成後，系統會寄下載資訊到您輸入的電子郵件信箱。如未收到信件，請聯絡我們。</p>
					</div>
					<div class="mark-title">
						<img src="{% static 'image/title-mark.svg' %}">
						<span class="ml-5">聯絡信箱</span>
					</div>
					<div class="d-flex mb-20px">
						<input type="text" name="download_email" class="w-50" id="download_email">
						<svg id="email-check" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="lightgrey" class="bi bi-check my-auto" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
						</svg>
					</div>
				</form>
				<button class="send-btn download_check" disabled>確認送出</button>
			</div>
		</div>
	</div>
</div>

<div class="page-top">
	<div class="short-top">
		<div class="path">
			<a href="{% url 'index' %}">首頁</a> > <p>物種名錄</p>
		</div>
		<div class="main-box">
			<div class="float-dot-yel">
				<img src="{% static 'image/cir_yel.png' %}">
			</div>
			<div class="float-dot-blue">
				<img src="{% static 'image/cir_blue.png' %}">
			</div>
			<div class="title-box">
				<h2>物種名錄</h2>
				<p>CATALOGUE</p>
			</div>
		</div>
	</div>
		<div class="splist-search-box">
			<div class="main-box">
				<div class="left-box">
					<p>學名/中文名</p>
					<select class="select-box" name="name-select" id="">
						<option value="contain">包含</option>
						<option value="equal">等於</option>
						<option value="startwith">開頭為</option>
					</select>
				</div>
				<div class="cont-search-bar">
					<input type="text" id="keyword" name="keyword" placeholder="請輸入關鍵字" value='{{ keyword|default_if_none:"" }}'>
					<button class="search getData">
						<svg id="Group_6882" data-name="Group 6882" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36.847" height="36.775" viewBox="0 0 36.847 36.775">
							<defs>
								<clipPath id="clip-path">
									<rect id="Rectangle_65" data-name="Rectangle 65" width="36.847" height="36.775" fill="#4c8da7"/>
								</clipPath>
							</defs>
							<g id="Group_135" data-name="Group 135">
								<path id="Path_6196" data-name="Path 6196" d="M0,15.8V13.791c.093-.611.172-1.224.282-1.832A14.8,14.8,0,0,1,11.626.36C12.373.206,13.135.118,13.89,0h1.943c.091.022.182.049.274.065.813.14,1.642.22,2.438.424a14.772,14.772,0,0,1,9.4,21.166c-.407.768-.9,1.489-1.4,2.3a2.517,2.517,0,0,1,.305.233q4.493,4.478,8.985,8.958a3.734,3.734,0,0,1,1.016,1.4v.718a2.258,2.258,0,0,1-.753,1.148,1.856,1.856,0,0,1-2.5-.29q-4.694-4.682-9.383-9.369A1.8,1.8,0,0,1,24,26.422c-.154.116-.212.156-.27.2A14.833,14.833,0,0,1,.359,17.991C.208,17.268.118,16.532,0,15.8m3.673-1.04A11.15,11.15,0,1,0,14.861,3.676,11.17,11.17,0,0,0,3.673,14.762" fill="#4c8da7"/>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="more-selection-area">
			<!--按下select-button時加上now的class-->
			<div class="select-button ">
				<div class="main-box">
					<p>進階選項</p>
					<div class="arr">
						<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
							<g id="tree-arr" transform="translate(-1545.086 -550.086)">
								<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#FFF" stroke-linecap="round" stroke-width="2"/>
								<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#FFF" stroke-linecap="round" stroke-width="2"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="selection-box">
				<div class="main-box">
					<form id="moreForm" action="{% url 'download_search_results' %}" method="POST">
					{% csrf_token %}
					<div class="option-box1">
						<div class="item-box">
							<div class="left-title">
								<p>較高分類群</p>
							</div>
							<div class="input-item">
								<select class="taxon_group" id="taxon_group"></select>
							</div>
						</div>
						<div class="item-box">
							<div class="left-title">
								<p>分類階層</p>
							</div>
							<div class="right-option">
								<div class="input-item select-170">
									<select class="wide" name="rank-select">
										<option value="none"></option>
										<option value="34">種</option>
										<option value="35">亞種</option>
										<option value="37">變種</option>
										<option value="40">型</option>
										<option value="41">亞型</option>
										<option value="38">亞變種</option>
										<option value="36">雜交亞種</option>
										<option value="39">雜交變種</option>
										<option value="42">特別品型</option>
										<option value="47">雜交組合</option>
										<option value="30">屬</option>
										<option value="31">亞屬</option>
										<option value="32">組|節</option>
										<option value="33">亞組|亞節</option>
										<option value="26">科</option>
										<option value="27">亞科</option>
										<option value="28">族</option>
										<option value="29">亞族</option>
										<option value="22">目</option>
										<option value="23">亞目</option>
										<option value="24">下目</option>
										<option value="25">超科|總科</option>
										<!--<option value="">系</option>-->
										<!--<option value="">組</option>-->
										<option value="18">綱</option>
										<option value="19">亞綱</option>
										<option value="20">下綱</option>
										<option value="21">超目|總目</option>
										<option value="12">門</option>
										<option value="13">亞門</option>
										<option value="14">下門</option>
										<option value="15">微門</option>
										<option value="16">小門</option>
										<option value="17">超綱|總綱</option>
										<option value="7">部|類</option>
										<option value="8">亞部|亞類</option>
										<option value="9">下部|下類</option>
										<option value="10">小部|小類</option>
										<option value="11">超門|總門</option>
										<option value="3">界</option>
										<option value="4">亞界</option>
										<!--<option value="">支</option>-->
										<option value="5">下界</option>
										<option value="6">超部|總部</option>
										<option value="1">域</option>
										<option value="2">總界</option>
										<!--<option value="">亞域</option>-->					
									</select>
								</div>							
								<div class="alread-select">
								</div>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>特有性</p>
							</div>
							<div class="right-check">
								<label class="check-item">臺灣特有
									<input type="checkbox" name="is_endemic">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<!--<div class="item-box check-set">
							<div class="left-title">
								<p>存在於臺灣</p>
							</div>
							<div class="right-check">
								<label class="check-item">存在
									<input type="checkbox" name="is_in_taiwan">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">不存在
									<input type="checkbox" name="not_in_taiwan">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>-->
						<div class="item-box check-set">
							<div class="left-title">
								<p>原生/外來性</p>
							</div>
							<div class="right-check">
								<label class="check-item">原生
									<input type="checkbox" name="alien_type" value="native">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">歸化
									<input type="checkbox" name="alien_type" value="naturalized">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">入侵
									<input type="checkbox" name="alien_type" value="invasive">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">栽培豢養
									<input type="checkbox" name="alien_type" value="cultured">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<!--點擊後給class now-->
						<div class="more-option-button">
							<p>更多項目</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15.043" height="15.043" viewBox="0 0 15.043 15.043">
								<g id="plussvg" transform="translate(-1553.5 -534.5)">
									<line id="Line_211" data-name="Line 211" x1="13.043" transform="translate(1554.5 542.021)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
									<line class="minus" id="Line_213" data-name="Line 213" x1="13.043" transform="translate(1561.021 535.5) rotate(90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								</g>
							</svg>

						</div>
					</div>
					<!--點擊更多後展開option-box2-->
					<div class="option-box2">
						<div class="item-box check-set">
							<div class="left-title">
								<p>棲地環境</p>
							</div>
							<div class="right-check">
								<label class="check-item">陸生
									<input type="checkbox" name="is_terrestrial">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">淡水
									<input type="checkbox" name="is_freshwater">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">半鹹水
									<input type="checkbox" name="is_brackish">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">海洋
									<input type="checkbox" name="is_marine">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>保育類</p>
							</div>
							<div class="right-check">
								<label class="check-item">無
									<input type="checkbox" name="protected_category" value="none">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">第一級
									<input type="checkbox" name="protected_category" value="I">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">第二級
									<input type="checkbox" name="protected_category" value="II">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">第三級
									<input type="checkbox" name="protected_category" value="III">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>臺灣紅皮書評估</p>
							</div>
							<div class="right-check">
								<label class="check-item">無
									<input type="checkbox" name="red_category" value="none">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EX
									<input type="checkbox" name="red_category" value="NEX">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EW
									<input type="checkbox" name="red_category" value="NEW">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">RE
									<input type="checkbox" name="red_category" value="NRE">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CR
									<input type="checkbox" name="red_category" value="NCR">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EN
									<input type="checkbox" name="red_category" value="NEN">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">VU
									<input type="checkbox" name="red_category" value="NVU">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NT
									<input type="checkbox" name="red_category" value="NNT">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">LC
									<input type="checkbox" name="red_category" value="NLC">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">DD
									<input type="checkbox" name="red_category" value="NDD">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NA
									<input type="checkbox" name="red_category" value="NA">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NE
									<input type="checkbox" name="red_category" value="NE">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>IUCN評估</p>
							</div>
							<div class="right-check">
								<label class="check-item">無
									<input type="checkbox" name="iucn_category" value="none">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EX
									<input type="checkbox" name="iucn_category" value="EX">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EW
									<input type="checkbox" name="iucn_category" value="EW">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">RE
									<input type="checkbox" name="iucn_category" value="RE">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CR
									<input type="checkbox" name="iucn_category" value="CR">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">EN
									<input type="checkbox" name="iucn_category" value="EN">
									<span class="checkmark"></span>
								</label>

								<label class="check-item">VU
									<input type="checkbox" name="iucn_category" value="VU">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">CD
									<input type="checkbox" name="iucn_category" value="CD">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NT
									<input type="checkbox" name="iucn_category" value="NT">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">LC
									<input type="checkbox" name="iucn_category" value="LC">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">DD
									<input type="checkbox" name="iucn_category" value="DD">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NA
									<input type="checkbox" name="iucn_category" value="NA">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">NE
									<input type="checkbox" name="iucn_category" value="NE">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box check-set">
							<div class="left-title">
								<p>CITES附錄</p>
							</div>
							<div class="right-check">
								<label class="check-item">無
									<input type="checkbox" name="cites" value="none">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄一
									<input type="checkbox" name="cites" value="1">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄二
									<input type="checkbox" name="cites" value="2">
									<span class="checkmark"></span>
								</label>
								<label class="check-item">附錄三
									<input type="checkbox" name="cites" value="3">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="item-box">
							<div class="left-title">
								<p>更新日期</p>
							</div>
							<div class="item-box-set2">
								<div class="input-item select-100">
									<select class="wide" name="date-select">
										<option value="gl">大於</option>
										<option value="eq">等於</option>
										<option value="sl">小於</option>
									</select>
								</div>
								<div class="input-item w-350">
									<div class="icon">
										<img src="{% static 'image/cald.svg' %}">
									</div>
									<input type="date" placeholder="1990-01-01" name="date">
								</div>
							</div>
						</div>
					</div>
					</form>
					<div class="btn-are">
						<button class="resetForm">清除</button>
						<button class="blue-btn getData">搜尋</button>
					</div>

				</div>
			</div>
		</div>

	<div class="result-area">
		<div class="main-box">
			<div class="top-infbox">
				<p class="d-none">共<span id="total-count"></span>筆</p>
				<div class="button-two d-none">
					<button class="downloadData" data-type="csv">下載CSV</button>
					<button class="downloadData" data-type="json">下載JSON</button>
				</div>
			</div>
			<div class="result-flexbox d-none">
				<div class="left-cataselect">
					<ul class="ullist" >
						<input type="hidden" name="hidden-facet" value="">
						<input type="hidden" name="hidden-value" value="">
						<li>
							<div class="title-box">
								<h3>界</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box kingdom-box">
							</div>
						</li>
						<li>
							<div class="title-box">
								<h3>階層</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box rank-box">
								<!--目前選擇加上now-->
							</div>
						</li>
						<li>
							<div class="title-box">
								<h3>特有性</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box endemic-box">
							</div>
						</li>
						<!--
						<li>
							<div class="title-box">
								<h3>存在於臺灣</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box is_in_taiwan-box">
							</div>
						</li>-->
						<li>
							<div class="title-box">
								<h3>原生/外來性</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box alien_type-box">
							</div>
						</li>
						<li>
							<div class="title-box">
								<h3>地位</h3>
								<div class="blue-line"></div>
							</div>
							<div class="item-box status-box">
							</div>
						</li>
					</ul>
				</div>
				<div class="right-table d-none">
					<div class="scro-m">
						<table class="table-style1" border="0" cellpadding="0" cellspacing="0">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock body %}
{% block script %}
<script src="{% static 'js/catalogue.js' %}"></script>
{% endblock script %}
