{% extends 'base.html' %} 
{% load static %}

{% block body %}
	<div class="page-top">
		<div class="big-top">
			<div class="float-dot-yel">
				<img src="{% static 'image/cir_yel.png' %}">
			</div>
			<div class="float-dot-blue">
				<img src="{% static 'image/cir_blue.png' %}">
			</div>
			<div class="top-wave"></div>
			<div class="path">
				<a href="{% url 'index' %}">首頁</a> > <p>資料工具</p> > <p>學名比對工具</p>
			</div>
			<div class="main-box">
				<div class="pic-right2">
					<img src="{% static 'image/cont-rightimg2.png' %}">
				</div>

				<div class="float-dot-yel3">
					<img src="{% static 'image/cir_yel.png' %}">
				</div>
				<div class="float-dot-blue3">
					<img src="{% static 'image/cir_blue.png' %}">
				</div>
				<div class="title-box">
					<h2>學名比對工具 <span></span></h2>
					<p>NAME MATCH</p>
				</div>
			</div>
		</div>
		<div class="main-box vivi-cont-top">
			<div class="mark-title">
				<img src="{% static 'image/title-mark.svg' %}">
				<p>查詢設定</p>
			</div>
			<div class="name-checkitem-box">
				<div class="flex-item">
					<div class="left-title">比對</div>
					<div class="radiobox">
						<div class="flex">
							<input type="radio">
							<p>學名</p>
						</div>
						<div class="flex">
							<input type="radio">
							<p>中文名</p>
						</div>
					</div>
				</div>
				<div class="flex-item">
					<div class="left-title">格式選擇</div>
					<div class="select-item">
						<select name="" id="">
							<option value="">網頁檢視</option>
						</select>
					</div>
				</div>
				<div class="text-areabox">
					<p>學名/中文名</p>
					<textarea name="" id="" ></textarea>
				</div>
				<button>搜尋</button>
			</div>
		</div>
		<div class="check-result-box">
			<div class="main-box">
				<div class="mark-title">
					<img src="{% static 'image/title-mark.svg' %}">
					<p>比對結果</p>
				</div>
				<div class="check-result-li">
					<ul>
						<li>
							<h3>Pontosphaera discopora</h3>
							<div class="rank-area">
								<div class="item">
									<div class="cir-box rank-1-red">
										界
									</div>
									<p>Kingdom Chromista 原藻界</p>
								</div>
								<div class="item">
									<div class="cir-box rank-2-org">
										門
									</div>
									<p>Haptophyta 定鞭藻門</p>
								</div>
								<div class="item">
									<div class="cir-box rank-3-yell">
										綱
									</div>
									<p>Coccolithophyceae 顆石藻綱</p>
								</div>
								<div class="item">
									<div class="cir-box rank-4-green">
										目
									</div>
									<p>Zygodiscales 合盤藻目</p>
								</div>
								<div class="item">
									<div class="cir-box rank-5-blue">
										科
									</div>
									<p>Pontosphaeraceae 筏球藻科</p>
								</div>


							</div>
						</li>
						<li>
							<h3>Sesapa koshunica</h3>
							<div class="rank-area">
								<div class="item">
									<div class="cir-box rank-1-red">
										界
									</div>
									<p>Animalia 動物界</p>
								</div>
								<div class="item">
									<div class="cir-box rank-2-org">
										門
									</div>
									<p>Arthropoda 節肢動物門</p>
								</div>
								<div class="item">
									<div class="cir-box rank-3-yell">
										綱
									</div>
									<p>Insecta 昆蟲綱</p>
								</div>
								<div class="item">
									<div class="cir-box rank-4-green">
										目
									</div>
									<p>Lepidoptera 鱗翅目</p>
								</div>
								<div class="item">
									<div class="cir-box rank-5-blue">
										科
									</div>
									<p>Erebidae 裳蛾科</p>
								</div>
								<div class="item">
									<div class="cir-box rank-6-deepblue">
										屬
									</div>
									<p>Sesapa 瑟美苔蛾屬</p>
								</div>
								<div class="item">
									<div class="cir-box rank-second-gray">
										亞屬
									</div>
									<p>Sesapa 瑟美苔蛾亞屬</p>
								</div>
							</div>
						</li>
						<li>
							<h3>AAA</h3>
							<p>查無比對資料</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}
