{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block style %}
<link rel=stylesheet type="text/css" href="{% static 'css/name_match.css' %}">
{% endblock style %}

{% block body %}
{% csrf_token %}
<div class="loadingbox d-none">
	<img class="center-logo" src="{% static 'image/logo-img.svg' %}" alt="臺灣物種名錄">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
</div>

	<div class="page-top">
		<div class="big-top">
			<div class="float-dot-yel">
				<img src="{% static 'image/cir_yel.png' %}">
			</div>
			<div class="float-dot-blue">
				<img src="{% static 'image/cir_blue.png' %}">
			</div>
			<div class="top-wave"></div>
			<div class="path">
				<a href="{% url 'index' %}">{% trans "首頁" %}</a> > <p>{% trans "資料工具" %}</p> > <p>{% trans "學名比對工具" %}</p>
			</div>
			<div class="main-box">
				<div class="pic-right2">
					<img src="{% static 'image/cont-rightimg2.png' %}">
				</div>

				<div class="float-dot-yel3">
					<img src="{% static 'image/cir_yel.png' %}">
				</div>
				<div class="float-dot-blue3">
					<img src="{% static 'image/cir_blue.png' %}">
				</div>
				<div class="title-box">
					<h2>{% trans "學名比對工具" %} <span></span></h2>
					<p>{% trans "NAME MATCH" %}</p>
				</div>
			</div>
		</div>
		<div class="main-box vivi-cont-top">
			<div class="mark-title">
				<img src="{% static 'image/title-mark.svg' %}">
				<p>{% trans "查詢設定" %}</p>
			</div>

			<div class="name-checkitem-box">
				<form id="matchForm" action="{% url 'download_match_results' %}" method="POST">
				{% csrf_token %}		
				<!--
				<div class="flex-item">
					<div class="left-title">格式選擇</div>
					<div class="select-item">
						<select name="format" id="">
							<option value="">網頁檢視</option>
						</select>
					</div>
				</div>-->
				<div class="flex-item">
					<div class="left-title">{% trans "最佳結果" %}</div>
					<div class="radiobox">
						<div class="flex">
							<input type="radio" name="best" value="yes" checked>
							<p>{% trans "是" %}</p>
						</div>
						<div class="flex">
							<input type="radio" name="best" value="no">
							<p>{% trans "否" %}</p>
						</div>
					</div>
				</div>
				<div class="text-areabox">
					<p>{% trans "學名/中文名" %}</p>
					<textarea class="fs-14" name="name" id=""></textarea>
				</div>
				</form>
				<button class="search">{% trans "搜尋" %}</button>
			</div>
		</div>
		<div class="check-result-box  d-none">
			<div class="main-box">
				<div class="mark-title mb-0">
					<img src="{% static 'image/title-mark.svg' %}">
					<p>{% trans "比對結果" %}</p>
				</div>
				<div class="result-area">
					<div class="top-infbox mb-20">
						<p></p>
						<div class="button-two d-flex">
							<button class="downloadData" data-type="csv">{% trans "下載CSV" %}</button>
							<button class="downloadData" data-type="json">{% trans "下載JSON" %}</button>
						</div>
					</div>
					<div class="right-table">
						<div class="scro-m">
							<table class="table-style1" border="0" cellpadding="0" cellspacing="0">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}
{% block script %}
<script src="{% static 'js/name_match.js' %}"></script>
{% endblock script %}
