{% extends 'base.html' %} 
{% load i18n %}
{% load static %}

{% block head %}
<link href="{% static 'css/select2.min.css' %}?v1" rel="stylesheet">
<script src="{% static 'js/select2.min.js' %}?v1"></script>

{% endblock head %}


{% block style %}
<link rel=stylesheet type="text/css" href="{% static 'css/taxon_tree.css' %}?v2">
{% endblock style %}

{% block body %}
{% csrf_token %}

<div class="loadingbox d-none">
	<img class="center-logo" src="{% static 'image/logo-img.svg' %}" alt="臺灣物種名錄">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
</div>

	<div class="page-top">
		<div class="short-top">
			<div class="path">
				<a href="{% url 'index' %}">{% trans "首頁" %}</a> > <p>{% trans "物種樹" %}</p>
			</div>
			<div class="main-box">
				<div class="float-dot-yel">
					<img src="{% static 'image/cir_yel.png' %}">
				</div>
				<div class="float-dot-blue">
					<img src="{% static 'image/cir_blue.png' %}">
				</div>
				<div class="title-box">
					<h2>{% trans "物種樹" %}</h2>
					<p>{% if LANGUAGE_CODE != 'en-us' %}TAXON TREE{% endif %}</p>
				</div>
			</div>
		</div>
		<div class="hot-search-box">
			<div class="main-box">
				{% if search_stat|length %}
				<h3>{% trans "熱門搜尋階層" %}</h3>
				<div class="seach-tag-area">
					{% for ss in search_stat %}
						<a class="search_a" href="javascript:;" data-taxon_id="{{ ss.taxon_id }}">
							<p>{{ ss.name|safe }}</p>
						</a>
					{% endfor %}
				</div>
				{% endif %}
				<div class="cont-search-bar">
					<select class="keyword" id="keyword" data-placeholder="{% trans '請輸入關鍵字' %}"></select>
				</div>
				<div class="item-box check-set">
					<div class="right-check">
						<label class="check-item">{% trans "包含栽培豢養" %}
							<input type="checkbox" name="with_cultured" class="d-none" checked>
							<span class="checkmark"></span>
						</label>
					</div>
				</div>

				<div class="item-box check-set">
					<div class="right-check">
						<label class="check-item">{% trans "僅顯示林奈階層" %}
							<input type="checkbox" name="lin_rank" class="d-none" checked>
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
				<div class="item-box check-set">
					<div class="right-check">
						<label class="check-item">{% trans "包含未經正式紀錄" %}
							<input type="checkbox" name="with_not_official" class="d-none">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>			
			</div>
		</div>
		<div class="tree-area">
			<div class="main-box">
				<ul class="rank-1-red kingdom d-block">
					<!--選到的給now並展開第二層-->
					{% for k in kingdom_dict %}
					<li {% if 'Viruses' in k.name %} class="unranked-li" {% endif %}>
						<span class="anchor" id="{{ k.taxon_id }}" ></span>
						<div class="item-box getSubList" data-with_cultured="on" data-lin_rank="on" 
														data-fetched="0" data-taxon="{{ k.taxon_id }}" 
														data-rank={% if 'Viruses' not in k.name %}"3"{% else %}50{% endif %}>
							<div class="cir-box">
								{% if 'Viruses' not in k.name %}
									界 
								{% else %}
									未定
								{% endif %}
							</div>
							<h2><a href="/{{ LANGUAGE_CODE }}/taxon/{{ k.taxon_id }}">{{ k.name|safe }}</a></h2>
							<p>{{ k.stat }}</p>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>


			</div>
		</div>
	</div>




{% endblock body %}
{% block script %}
<script src="{% static 'js/taxon_tree.js' %}?v9"></script>
{% endblock script %}
