{% extends 'base.html' %} 
{% load i18n %}
{% load static %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock head %}


{% block style %}
<link rel=stylesheet type="text/css" href="{% static 'css/taxon_tree.css' %}">
{% endblock style %}

{% block body %}
{% csrf_token %}

<div class="loadingbox d-none">
	<img class="center-logo" src="{% static 'image/logo-img.svg' %}" alt="臺灣物種名錄">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
</div>

	<div class="page-top">
		<div class="short-top">
			<div class="path">
				<a href="{% url 'index' %}">{% trans "首頁" %}</a> > <p>{% trans "物種樹" %}</p>
			</div>
			<div class="main-box">
				<div class="float-dot-yel">
					<img src="{% static 'image/cir_yel.png' %}">
				</div>
				<div class="float-dot-blue">
					<img src="{% static 'image/cir_blue.png' %}">
				</div>
				<div class="title-box">
					<h2>{% trans "物種樹" %}</h2>
					<p>TAXON TREE</p>
				</div>
			</div>
		</div>
		<div class="hot-search-box">
			<div class="main-box">
				{% if search_stat|length %}
				<h3>{% trans "熱門搜尋階層" %}</h3>
				<div class="seach-tag-area">
					{% for ss in search_stat %}
						<a class="search_a" href="javascript:;" data-taxon_id="{{ ss.taxon_id }}">
							<p>{{ ss.name|safe }}</p>
						</a>
					{% endfor %}
				</div>
				{% endif %}
				<div class="cont-search-bar">
					<select class="keyword" id="keyword" data-placeholder="{% trans "請輸入關鍵字" %}"></select>
					<!--
					<input type="text" name="keyword" id="keyword" placeholder="請輸入關鍵字">
					<input type="hidden" name="keyword_taxon_id" id="keyword_taxon_id">-->
					
					<!--
					<button class="search">
						<svg id="Group_6882" data-name="Group 6882" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36.847" height="36.775" viewBox="0 0 36.847 36.775">
							<defs>
								<clipPath id="clip-path">
									<rect id="Rectangle_65" data-name="Rectangle 65" width="36.847" height="36.775" fill="#4c8da7"/>
								</clipPath>
							</defs>
							<g id="Group_135" data-name="Group 135" clip-path="url(#clip-path)">
								<path id="Path_6196" data-name="Path 6196" d="M0,15.8V13.791c.093-.611.172-1.224.282-1.832A14.8,14.8,0,0,1,11.626.36C12.373.206,13.135.118,13.89,0h1.943c.091.022.182.049.274.065.813.14,1.642.22,2.438.424a14.772,14.772,0,0,1,9.4,21.166c-.407.768-.9,1.489-1.4,2.3a2.517,2.517,0,0,1,.305.233q4.493,4.478,8.985,8.958a3.734,3.734,0,0,1,1.016,1.4v.718a2.258,2.258,0,0,1-.753,1.148,1.856,1.856,0,0,1-2.5-.29q-4.694-4.682-9.383-9.369A1.8,1.8,0,0,1,24,26.422c-.154.116-.212.156-.27.2A14.833,14.833,0,0,1,.359,17.991C.208,17.268.118,16.532,0,15.8m3.673-1.04A11.15,11.15,0,1,0,14.861,3.676,11.17,11.17,0,0,0,3.673,14.762" fill="#4c8da7"/>
							</g>
						</svg>
					</button>
					-->
				</div>
				<div class="item-box check-set">
					<div class="right-check">
						<label class="check-item">{% trans "包含栽培豢養" %}
							<input type="checkbox" name="cultured" class="d-none" checked>
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="tree-area">
			<div class="main-box">
				<ul class="rank-1-red kingdom d-block">
					<!--選到的給now並展開第二層-->
					{% for k in kingdom_dict %}
					<li>
						<span class="anchor" id="{{ k.taxon_id }}" ></span>
						<div class="item-box getSubList" data-cultured="on" data-fetched="0" data-taxon="{{ k.taxon_id }}" data-rank="3">
							<div class="cir-box">
								界
							</div>
							<h2 class="redirectTaxonPage" data-taxon_id="{{ k.taxon_id }}">{{ k.name|safe }}</h2>
							<p>{{ k.stat }}</p>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				<ul class="rank-1-red kingdom_c d-none">
					<!--選到的給now並展開第二層-->
					{% for k in kingdom_dict_c %}
					<li>
						<span class="anchor" id="{{ k.taxon_id }}" ></span>
						<div class="item-box getSubList" data-cultured="off" data-fetched="0" data-taxon="{{ k.taxon_id }}" data-rank="3">
							<div class="cir-box">
								界
							</div>
							<h2 class="redirectTaxonPage" data-taxon_id="{{ k.taxon_id }}">{{ k.name|safe }}</h2>
							<p>{{ k.stat }}</p>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>




{% endblock body %}
{% block script %}
<script src="{% static 'js/taxon_tree.js' %}"></script>
{% endblock script %}
