{% extends 'base.html' %} 
{% load static %}

{% block head %}
<script src="{% static 'js/jquery.nice-select.js' %}"></script>
<link rel=stylesheet type="text/css" href="{% static 'css/nice-select.css' %}">

{% endblock head %}

{% block style %}
<link rel=stylesheet type="text/css" href="{% static 'css/taxon.css' %}">
{% endblock style %}

{% block body %}
{% csrf_token %}
<div class="loadingbox d-none">
	<img class="center-logo" src="{% static 'image/logo-img.svg' %}" alt="臺灣物種名錄">
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
</div>

	<!--側邊收和鈕，加上now控制開關-->
	<div class="all-open-close">
		<div class="center controlAll">
			<p>全部</p>
			<svg xmlns="http://www.w3.org/2000/svg" width="16.828" height="9.828" viewBox="0 0 16.828 9.828">
				<g id="Group_7699" data-name="Group 7699" transform="translate(1561.442 559.678) rotate(180)">
					<line id="Line_177" data-name="Line 177" x2="7" y2="7" transform="translate(1546.028 551.264)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
					<line id="Line_178" data-name="Line 178" x1="7" y2="7" transform="translate(1553.028 551.264)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
				</g>
			</svg>
		</div>
	</div>

	<!--錯誤回報彈跳框-->
	<div class="popbox mistakepop d-none">
		<div class="rel">
			<div class="w-bg">
				<div class="xx">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
						<g id="Group_8961" data-name="Group 8961" transform="translate(-1288 -210)">
							<g id="Ellipse_145" data-name="Ellipse 145" transform="translate(1288 210)" fill="#fff" stroke="#4c8da7" stroke-width="2">
								<circle cx="25" cy="25" r="25" stroke="none"/>
								<circle cx="25" cy="25" r="24" fill="none"/>
							</g>
							<g id="Group_7748" data-name="Group 7748" transform="translate(100.696 1061.993) rotate(-45)">
								<line id="Line_265" data-name="Line 265" x2="25" transform="translate(1429.5 271.5)" fill="none" stroke="#4c8da7" stroke-linecap="round" stroke-width="2"/>
								<line id="Line_266" data-name="Line 266" x2="25" transform="translate(1442.5 259.5) rotate(90)" fill="none" stroke="#4c8da7" stroke-linecap="round" stroke-width="2"/>
							</g>
						</g>
					</svg>
				</div>
				<div class="title-area">
					<h2>回報錯誤 <span></span></h2>
				</div>
				<div class="error-form">
					<form id="errorForm">
					<input type="hidden" name="taxon_id" value="{{ taxon_id }}">
					<div class="case-num">
						針對({{ taxon_id|default_if_none:'' }}){{ data.sci_name|safe }}回報錯誤
					</div>
					<div class="mark-title">
						<img src="{% static 'image/title-mark.svg' %}">
						<p>主旨</p>
					</div>
					<div class="input-item2">
						<div class="input-item">
							<select class="subject wide" name="type" id="">
								<option value="1">學名和中文名</option>
								<option value="2">照片</option>
								<option value="3">分類資訊</option>
								<option value="4">分類階層</option>
								<option value="5">物種資訊</option>
								<option value="6">學名變遷</option>
								<option value="7">文獻</option>
								<option value="8">專家</option>
								<option value="9">相關連結</option>
								<option value="11">有效名版本紀錄</option>
								<option value="10">變更歷史</option>
							</select>
						</div>
						<div class="input-item">
							<input type="text" name="title" placeholder="請輸入主旨">
						</div>
					</div>
					<div class="mark-title">
						<img src="{% static 'image/title-mark.svg' %}">
						<p>錯誤描述</p>
					</div>
					<textarea name="description" id="" class="fs-16"></textarea>
					<div class="notice">
						<h3>更新通知與否</h3>
						<div class="radiobox">
							<div class="flex">
								<input type="radio" name="notify" value="yes" checked>
								<p>是</p>
							</div>
						</div>
						<div class="radiobox">
							<div class="flex">
								<input type="radio" name="notify" value="no">
								<p>否</p>
							</div>
						</div>
					</div>
					<div class="input-item2">
						<div class="input-item">
							<p>聯絡姓名</p>
							<input type="text" name="name">
						</div>
						<div class="input-item">
							<p>聯絡信箱</p>
							<input type="text" name="email">
						</div>
					</div>
					</form>
					<button class="send-btn feedback">確認送出</button>
				</div>
			</div>
		</div>
	</div>
	<div class="popbox imagepop d-none">
		<div class="rel imgpop-style">
			<div class="w-bg m-auto">
				<div class="xx">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
						<g id="Group_8961" data-name="Group 8961" transform="translate(-1288 -210)">
							<g id="Ellipse_145" data-name="Ellipse 145" transform="translate(1288 210)" fill="#fff" stroke="#4c8da7" stroke-width="2">
								<circle cx="25" cy="25" r="25" stroke="none"/>
								<circle cx="25" cy="25" r="24" fill="none"/>
							</g>
							<g id="Group_7748" data-name="Group 7748" transform="translate(100.696 1061.993) rotate(-45)">
								<line id="Line_265" data-name="Line 265" x2="25" transform="translate(1429.5 271.5)" fill="none" stroke="#4c8da7" stroke-linecap="round" stroke-width="2"/>
								<line id="Line_266" data-name="Line 266" x2="25" transform="translate(1442.5 259.5) rotate(90)" fill="none" stroke="#4c8da7" stroke-linecap="round" stroke-width="2"/>
							</g>
						</g>
					</svg>
				</div>
				<div class="title-area mb-0">
					<ul class="ls-none">
						<li><p class="image-title" >{{ data.sci_name|safe }}</p></li>
						<li>
							<div class="wrap-box">
								<div class="r-cir-box {{ data.self.rank_color }}">
									{{ data.self.rank_c }}
								</div>
								<span class="r-name">{{ data.self.name_c }}<span>
							</div>
						</li>
					</ul>
					<div class="pic-area">
						{% if data.images|length > 1 %}
						<div class="arr-left plusSlides" data-index="-1">
						</div>
						<div class="arr-right plusSlides" data-index="+1">
						</div>
						{% endif %}
						<img id="spe-image" src="">
					</div>
					<div class="mark-title">
						<img src="{% static 'image/title-mark.svg' %}">
						<p>作者：<span id="image_author"></span></p>
					</div>
					<div class="mark-title">
						<img src="{% static 'image/title-mark.svg' %}">
						<p>典藏者：<span id="image_provider"></span></p>
					</div>
					<div class="mark-title">
						<img src="{% static 'image/title-mark.svg' %}">
						<p>照片提供：<a target="_blank" id="image_permalink" href="#">臺灣生命大百科</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-top">
		<div class="splist-search-box de">
			<div class="main-box">
				<div class="cont-search-bar">
					<input type="text" name="keyword" placeholder="請輸入關鍵字">
					<button class="search">
						<svg id="Group_6882" data-name="Group 6882" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36.847" height="36.775" viewBox="0 0 36.847 36.775">
							<defs>
								<clipPath id="clip-path">
									<rect id="Rectangle_65" data-name="Rectangle 65" width="36.847" height="36.775" fill="#4c8da7"/>
								</clipPath>
							</defs>
							<g id="Group_135" data-name="Group 135">
								<path id="Path_6196" data-name="Path 6196" d="M0,15.8V13.791c.093-.611.172-1.224.282-1.832A14.8,14.8,0,0,1,11.626.36C12.373.206,13.135.118,13.89,0h1.943c.091.022.182.049.274.065.813.14,1.642.22,2.438.424a14.772,14.772,0,0,1,9.4,21.166c-.407.768-.9,1.489-1.4,2.3a2.517,2.517,0,0,1,.305.233q4.493,4.478,8.985,8.958a3.734,3.734,0,0,1,1.016,1.4v.718a2.258,2.258,0,0,1-.753,1.148,1.856,1.856,0,0,1-2.5-.29q-4.694-4.682-9.383-9.369A1.8,1.8,0,0,1,24,26.422c-.154.116-.212.156-.27.2A14.833,14.833,0,0,1,.359,17.991C.208,17.268.118,16.532,0,15.8m3.673-1.04A11.15,11.15,0,1,0,14.861,3.676,11.17,11.17,0,0,0,3.673,14.762" fill="#4c8da7"/>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>

		<div class="species-de-content">
			<div class="main-box">
				<div class="sticky-left">
					<input type="hidden" name="taxon_id" value="{{ taxon_id }}">
					<button class="sticky_btn" data-hash="#taxon-status">- 分類資訊</button>
					{% if stat_str %}
					<button class="sticky_btn" data-hash="#taxon-sub">- 子階層統計</button>
					{% endif %}
					<button class="sticky_btn" data-hash="#taxon-rank">- 分類階層</button>
					<button class="sticky_btn" data-hash="#taxon-info">- 物種資訊</button>
					<button class="sticky_btn" data-hash="#taxon-change">- 學名變遷</button>
					<button class="sticky_btn" data-hash="#taxon-ref">- 文獻</button>
					<button class="sticky_btn" data-hash="#taxon-expert">- 專家</button>
					<button class="sticky_btn" data-hash="#taxon-link">- 相關連結</button>
					<button class="sticky_btn" data-hash="#taxon-version">- 有效名版本</button>
					<button class="sticky_btn" data-hash="#taxon-history">- 變更歷史</button>
				</div>
				<div class="right-de-box">
					<a class="anchor" id="taxon-status"></a>
					<div class="box-2">
						<div class="left-maininf">
							<div class="maintxt">
								<h2 class="en">{{ data.sci_name|safe }}</h2>
								<h2>{{ data.common_name_c|default_if_none:'' }}</h2>									
								{% if data.alternative_name_c %}
									<p>{{ data.alternative_name_c }}</p>
								{% endif %}
								<p>物種編號：{{ taxon_id|default_if_none:'' }}</p>
							</div>
							<div class="infobox">
								<div class="class-inf {% if data.is_deleted or data.not_in_taiwan %} deleted_t {% endif %} mr-5">
									<a class="anchor" id="taxon-status"></a>
									<div class="mark-title">
										<img src="{% static 'image/title-markw.svg' %}">
										<p>分類資訊</p>
									</div>
									<p>{{ data.rank_d }}</p>
									<p>{% if not data.is_deleted %}
										{{ data.status|safe }}
										{% elif data.transfer_taxon %}
										請參見 <a class="new_taxon_a" href="/taxon/{{ data.transfer_taxon }}">{% if data.new_taxon_name_c %} {{ data.new_taxon_name_c }} {% else %} {{ data.transfer_taxon }} {% endif %}<svg class="fa_size" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="19" viewBox="0 0 19 19">
											<defs>
												<clipPath id="clip-path">
													<rect id="Rectangle_3657" data-name="Rectangle 3657" width="19" height="19" transform="translate(0 -0.359)" fill="#fff"></rect>
												</clipPath>
											</defs>
											<g id="link-icon" transform="translate(0 0.359)">
												<g id="Group_7678" data-name="Group 7678" clip-path="url(#clip-path)">
													<path id="Path_8148" data-name="Path 8148" d="M136.768,4.994c-.053.253-.094.508-.162.757a5.729,5.729,0,0,1-1.539,2.554q-.923.93-1.85,1.856a.734.734,0,1,1-1.041-1.029c.711-.722,1.44-1.427,2.128-2.169a3.583,3.583,0,0,0,.977-2.125,2.92,2.92,0,0,0-1.291-2.8,3.005,3.005,0,0,0-3.438-.094,4.839,4.839,0,0,0-1,.753c-.916.885-1.811,1.792-2.706,2.7A3.989,3.989,0,0,0,125.7,7.449a3.025,3.025,0,0,0,1.441,3.252.8.8,0,0,1,.445.622.7.7,0,0,1-.337.68.68.68,0,0,1-.757.015,4.51,4.51,0,0,1-2.211-2.954,4.749,4.749,0,0,1,.928-3.99,7.224,7.224,0,0,1,.69-.8c.843-.856,1.7-1.7,2.546-2.55A5.769,5.769,0,0,1,131.3.1a4.578,4.578,0,0,1,5.4,3.612c.021.124.049.247.073.371Z" transform="translate(-118.129 0.001)" fill="#fff"></path>
													<path id="Path_8149" data-name="Path 8149" d="M4.078,146.411c-.264-.059-.532-.1-.793-.178a4.575,4.575,0,0,1-3.251-3.811,4.792,4.792,0,0,1,1.147-3.711c.463-.566,1-1.068,1.515-1.6.287-.3.58-.586.873-.877A.732.732,0,1,1,4.6,137.276c-.632.638-1.27,1.269-1.9,1.909a4.234,4.234,0,0,0-1.151,1.987,3.075,3.075,0,0,0,2.65,3.754,3.526,3.526,0,0,0,2.745-.967c.493-.43.943-.908,1.406-1.372.608-.61,1.227-1.21,1.808-1.844a3.554,3.554,0,0,0,.951-2.059,2.981,2.981,0,0,0-1.117-2.7,4.411,4.411,0,0,0-.461-.323.731.731,0,0,1-.249-1.014.723.723,0,0,1,1.017-.23,4.468,4.468,0,0,1,2.284,4.25,4.415,4.415,0,0,1-1.156,2.824c-1.179,1.27-2.408,2.5-3.667,3.685a4.606,4.606,0,0,1-2.71,1.205.213.213,0,0,0-.063.031Z" transform="translate(0 -127.766)" fill="#fff"></path>
												</g>
											</g>
										</svg></a>
										{% endif %}
									</p>
								</div>
								{% if stat_str %}
								<div class="class-inf ml-5 class-inf-w">
									<a class="anchor" id="taxon-sub"></a>
									<div class="mark-title">
										<img src="{% static 'image/title-mark.svg' %}">
										<p>子階層統計</p>
									</div>
									<p>{{ stat_str|safe }}</p>
								</div>
								{% endif %}
							</div>
						</div>
						<div class="rignt-pic_area">
							<button class="mistake-btn">回報<br>錯誤</button>
							<div class="pic-area mh-100">
								{% if data.images|length > 1 %}
									<div class="arr-left plusSlides" data-index="-1">
									</div>
									<div class="arr-right plusSlides" data-index="+1">
									</div>
								{% endif %}
								<!--套輪播，或淡入淡出換圖，看哪個比較方便-->
								<div class="picbox-all" >
									<!--一個picbox是一組，建議尺寸為860*560或430*280-->
									{% if data.images|length > 0  %}
										{% for img in data.images %}
										<div class="picbox mySlides fade">
											<div class="rel">
												<div class="posa">
													<img src="{{ img.src|safe }}">
													<div class="text image_author" >{{ img.author|safe }}</div>
													<div class="image_provider d-none">{{ img.provider|safe }}</div>
													<div class="image_permalink d-none">{{ img.permalink|safe }}</div>
												</div>
											</div>
										</div>
										{% endfor %}
									{% else %}
										<div class="picbox mySlides fade">
											<div class="rel">
												<div class="posa">
													<img class="nopic" src="{% static 'image/no_pic.png' %}">
													<div class="text"></div>
												</div>
											</div>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<!--這裡如果只展開其中一項，要加上style="align-items: flex-start;"-->
					<div class="box-2 column ai-none" >
						<div class="leftbox">
							<!--展開時加上now-->
							<div class="w-box w-box-2 now">
								<div class="title-click">
									<a class="anchor" id="taxon-rank"></a>
									<div class="mark-title">
										<img src="{% static 'image/title-mark.svg' %}">
										<p>分類階層</p>
									</div>
									<div class="arr">
										<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
											<g id="tree-arr" transform="translate(-1545.086 -550.086)">
												<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
												<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
											</g>
										</svg>
									</div>
								</div>
								<div class="w-content">
									<div class="rank-area">
										{% for i in data.higher %}
										<div class="item">
											<div class="cir-box {{ i.rank_color }}">
												{{ i.rank_c  }}
											</div>
											<a {% if i.a_href %} class="rank-p" target="_blank" href="{{ i.a_href }}" {% else %} class="rank-p a-disabled" {% endif %}>
											{{ i.a_content|safe  }}</a>
											{% if i.search_href %}
											<a class="d-none search-rank" target="_blank" href="{{ i.search_href }}">
											<i class="ml-5 fa-solid fa-magnifying-glass"></i></a>
											{% endif %}
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="rightbox">
							<!--展開時加上now-->
							<div class="w-box w-box-2 now">
								<div class="title-click">
									<a class="anchor" id="taxon-info"></a>
									<div class="mark-title">
										<img src="{% static 'image/title-mark.svg' %}">
										<p>物種資訊</p>
									</div>
									<div class="arr">
										<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
											<g id="tree-arr" transform="translate(-1545.086 -550.086)">
												<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
												<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
											</g>
										</svg>
									</div>
								</div>
								<div class="w-content">
									<div class="green-tag-box">
										{% for i in data.alien_types  %}
											<div class="item">{{ i.alien_type }}</div>
											{% if i.note %}
											<div class="alien-tooltip">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle cl-blue" viewBox="0 0 16 16">
													<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
													<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
												</svg>
												<span class="alien-tooltiptext">{{ i.note|safe }}</span>  
											</div>
											{% endif %}
										{% endfor %}
										{% for i in data.is_list  %}
											<div class="item">{{ i }}</div>
										{% endfor %}
									</div>
									<div class="inf-short">
										{% if data.protected_category  %}
										<div class="d-flex">
										<p>保育類：{{ data.protected_category }} 
											{% if data.protected_note %}
											<div class="tooltip">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle cl-blue" viewBox="0 0 16 16">
													<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
													<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
												</svg>
												<span class="tooltiptext">{{ data.protected_note|safe }}</span>  
											</div>
											{% endif %}
										</p>
										</div>
										{% endif %}										
										{% if data.red_category  %}
										<div class="d-flex">
										<p>臺灣紅皮書：{{ data.red_category }} 
											{% if data.red_note %}
											<div class="tooltip">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle cl-blue" viewBox="0 0 16 16">
													<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
													<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
												</svg>
												<span class="tooltiptext">{{ data.red_note|safe }}</span>  
											</div>
											{% endif %}
										</p>
										</div>
										{% endif %}
										{% if data.iucn_category  %}
										<div class="d-flex">
										<p>IUCN：<a target="_blank" href="{{ data.iucn_url }}">{{ data.iucn_category }}</a>
											{% if data.iucn_note %}
											<div class="tooltip">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle cl-blue" viewBox="0 0 16 16">
													<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
													<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
												</svg>
												<span class="tooltiptext">{{ data.iucn_note|safe }}</span>  
											</div>
											{% endif %}
										</p>
										</div>
										{% endif %}
										{% if data.cites_listing  %}
										<div class="d-flex">
										<p>CITES：<a target="_blank" href="{{ data.cites_url }}">{{ data.cites_listing }}</a>
											{% if data.cites_note %}
											<div class="tooltip">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle cl-blue" viewBox="0 0 16 16">
													<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
													<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
												</svg>
												<span class="tooltiptext">{{ data.cites_note|safe }}</span>  
											</div>
											{% endif %}
										</p>
									</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--展開時加上now-->
					<div class="w-box marb_20 now">
						<div class="title-click">
							<a class="anchor" id="taxon-change"></a>
							<div class="mark-title">
								<img src="{% static 'image/title-mark.svg' %}">
								<p>學名變遷</p>
							</div>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
						<div class="w-content">
							<div class="namebox">
								{% for n in name_changes %}
								<p>{{ n|safe }}</p>
								{% endfor %}
							</div>
						</div>
					</div>
					<!--展開時加上now-->
					<div class="w-box marb_20 now">
						<div class="title-click">
							<a class="anchor" id="taxon-ref"></a>
							<div class="mark-title">
								<img src="{% static 'image/title-mark.svg' %}">
								<p>文獻</p>
							</div>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
						<div class="w-content">
							<ul class="book-list">
								{% for r in refs %}
									<li><a href="https://nametool.taicol.tw/zh-tw/references/{{ r.0 }}" target="_blank">{{ r.1|safe }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!--展開時加上now-->
					<div class="w-box marb_20 now">
						<div class="title-click">
							<a class="anchor" id="taxon-expert"></a>
							<div class="mark-title">
								<img src="{% static 'image/title-mark.svg' %}">
								<p>專家</p>
							</div>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>

						<div class="w-content">
							<div class="scro-m">
								{% for e in experts %}
								<ul class="expert-li">
									<li>{{ e.name|default_if_none:'' }}</li>
									<li>{{ e.name_e|default_if_none:'' }}</li>
									<li>{{ e.taxon_group_agg|default_if_none:'' }}</li>
									<li>{{ e.email|default:'' }}</li>
								</ul>
								{% endfor %}
							</div>
						</div>
					</div>
					<!--展開時加上now-->
					<div class="w-box marb_20 now">
						<div class="title-click">
							<a class="anchor" id="taxon-link"></a>
							<div class="mark-title">
								<img src="{% static 'image/title-mark.svg' %}">
								<p>相關連結</p>
							</div>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
						<div class="w-content">
							<ul class="link-left">
							{% for l in links %}
							<li>
								{% if l.title == "自然攝影中心" or l.title == "Amphibian Species of the World" %}
								<p>{{ l.title }}：{{ l.id }}</p>
								{% elif l.hidden_name %}
								<p>{{ l.title }}</p>
								{% else %}
								<p>{{ l.title }}：{{ l.suffix }}</p>
								{% endif %}
								<a href="{{ l.href }}{{ l.suffix }}" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="19" viewBox="0 0 19 19">
										<defs>
											<clipPath id="clip-path">
												<rect id="Rectangle_3657" data-name="Rectangle 3657" width="19" height="19" transform="translate(0 -0.359)" fill="#4c8da7"/>
											</clipPath>
										</defs>
										<g id="link-icon" transform="translate(0 0.359)">
											<g id="Group_7678" data-name="Group 7678" clip-path="url(#clip-path)">
												<path id="Path_8148" data-name="Path 8148" d="M136.768,4.994c-.053.253-.094.508-.162.757a5.729,5.729,0,0,1-1.539,2.554q-.923.93-1.85,1.856a.734.734,0,1,1-1.041-1.029c.711-.722,1.44-1.427,2.128-2.169a3.583,3.583,0,0,0,.977-2.125,2.92,2.92,0,0,0-1.291-2.8,3.005,3.005,0,0,0-3.438-.094,4.839,4.839,0,0,0-1,.753c-.916.885-1.811,1.792-2.706,2.7A3.989,3.989,0,0,0,125.7,7.449a3.025,3.025,0,0,0,1.441,3.252.8.8,0,0,1,.445.622.7.7,0,0,1-.337.68.68.68,0,0,1-.757.015,4.51,4.51,0,0,1-2.211-2.954,4.749,4.749,0,0,1,.928-3.99,7.224,7.224,0,0,1,.69-.8c.843-.856,1.7-1.7,2.546-2.55A5.769,5.769,0,0,1,131.3.1a4.578,4.578,0,0,1,5.4,3.612c.021.124.049.247.073.371Z" transform="translate(-118.129 0.001)" fill="#4c8da7"/>
												<path id="Path_8149" data-name="Path 8149" d="M4.078,146.411c-.264-.059-.532-.1-.793-.178a4.575,4.575,0,0,1-3.251-3.811,4.792,4.792,0,0,1,1.147-3.711c.463-.566,1-1.068,1.515-1.6.287-.3.58-.586.873-.877A.732.732,0,1,1,4.6,137.276c-.632.638-1.27,1.269-1.9,1.909a4.234,4.234,0,0,0-1.151,1.987,3.075,3.075,0,0,0,2.65,3.754,3.526,3.526,0,0,0,2.745-.967c.493-.43.943-.908,1.406-1.372.608-.61,1.227-1.21,1.808-1.844a3.554,3.554,0,0,0,.951-2.059,2.981,2.981,0,0,0-1.117-2.7,4.411,4.411,0,0,0-.461-.323.731.731,0,0,1-.249-1.014.723.723,0,0,1,1.017-.23,4.468,4.468,0,0,1,2.284,4.25,4.415,4.415,0,0,1-1.156,2.824c-1.179,1.27-2.408,2.5-3.667,3.685a4.606,4.606,0,0,1-2.71,1.205.213.213,0,0,0-.063.031Z" transform="translate(0 -127.766)" fill="#4c8da7"/>
											</g>
										</g>
									</svg>
								</a>
							</li>
							{% endfor %}
						</ul>
						</div>
					</div>
					<!--展開時加上now-->
					<div class="w-box marb_20 now">
						<div class="title-click">
							<a class="anchor" id="taxon-version"></a>
							<div class="mark-title">
								<img src="{% static 'image/title-mark.svg' %}">
								<p>有效名版本紀錄</p>
							</div>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
						<div class="w-content">
							<div class="scro-m">
							{% if name_history|length > 0 %}
							<table class="history-edit" cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td>日期</td>
									<td>有效名</td>
									<td width="50%">文獻</td>
								</tr>
								{% for t in name_history %}
									<tr>
										<td>{{ t.updated_at|safe }}</td>
										<td>{{ t.name|safe }}</td>
										<td>{% if t.reference_id %}
											<a target="_blank" href="https://nametool.taicol.tw/zh-tw/references/{{ t.reference_id }}">{{ t.ref|default_if_none:''|safe }}</a>
										{% endif %}</td>
									</tr>
								{% endfor %}
							</table>
							{% endif %}
						</div>
						</div>
					</div>
					<!--展開時加上now-->
					<div class="w-box marb_20 now">
						<div class="title-click">
							<a class="anchor" id="taxon-history"></a>
							<div class="mark-title">
								<img src="{% static 'image/title-mark.svg' %}">
								<p>變更歷史</p>
							</div>
							<div class="arr">
								<svg xmlns="http://www.w3.org/2000/svg" width="20.828" height="11.828" viewBox="0 0 20.828 11.828">
									<g id="tree-arr" transform="translate(-1545.086 -550.086)">
										<line id="Line_177" data-name="Line 177" x2="9" y2="9" transform="translate(1546.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
										<line id="Line_178" data-name="Line 178" x1="9" y2="9" transform="translate(1555.5 551.5)" fill="none" stroke="#888" stroke-linecap="round" stroke-width="2"/>
									</g>
								</svg>
							</div>
						</div>
						<div class="w-content">
							<div class="scro-m">
							{% if taxon_history|length > 0 %}
							<table class="history-edit" cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td>日期</td>
									<td>變更內容</td>
									<td width="50%">文獻</td>
									<td>編輯者</td>
								</tr>
								{% for t in taxon_history %}
									<tr>
										<td>{{ t.datetime|safe }}</td>
										<td>{{ t.type }} {{ t.content|default_if_none:''|safe }}</td>
										<td>{{ t.ref|default_if_none:''|safe }}</td>
										<td>{{ t.editor|default_if_none:'' }}</td>
									</tr>
								{% endfor %}
							</table>
							{% endif %}
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

{% endblock body %}
{% block script %}
<script src="{% static 'js/taxon.js' %}"></script>
{% endblock script %}
