.env
__pycache__/
.DS_Store
.vscode/

# dependencies
node_modules/
/.pnp
.pnp.js
.package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# upload file
upload

# react backend docker db folder
react-backend/db/*
static/react_component/*
# static/react_component/*.LICENSE.txt


*.zip
*.csv

nginx-log/

staging.env

