{% extends 'base.html' %} 
{% load static %}

{% block body %}
	<div class="page-top">
		<div class="big-top">
			<div class="float-dot-yel">
				<img src="{% static 'image/cir_yel.png' %}">
			</div>
			<div class="float-dot-blue">
				<img src="{% static 'image/cir_blue.png' %}">
			</div>
			<div class="top-wave"></div>
			<div class="path">
				<a href="{% url 'index' %}">首頁</a> > <p>資料工具</p> > <p>資料下載</p>
			</div>
			<div class="main-box">
				<div class="pic-right2">
					<img src="{% static 'image/cont-rightimg2.png' %}">
				</div>

				<div class="float-dot-yel3">
					<img src="{% static 'image/cir_yel.png' %}">
				</div>
				<div class="float-dot-blue3">
					<img src="{% static 'image/cir_blue.png' %}">
				</div>
				<div class="title-box">
					<h2>資料下載 <span></span></h2>
					<p>DOWNLOAD</p>
				</div>
			</div>
		</div>
		<div class="main-box vivi-cont-top download-box">
			<div class="cont-tab-area">
				<!--目前的選項加上now-->
				<ul>
					<li class="now">全部</li>
					<li>說明文件</li>
					<li>名錄檔案(學名)</li>
					<li>名錄檔案(物種)</li>
				</ul>
			</div>
			<div class="classify-item">
				<div class="mark-title">
					<img src="{% static 'image/title-mark.svg' %}">
					<p>說明文件</p>
				</div>
				<!--
					這邊有預設顏色的檔案有pdf、CSV、TXT
					還有多設一個other，當作其他通用的灰色
				-->
				<ul class="download-set">
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">English Readme</div>
						</div>
						<div class="right-file">
							<a href="#" class="pdf" target="_blank">PDF</a>
						</div>
					</li>
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">English Readme</div>
						</div>
						<div class="right-file">
							<a href="#" class="pdf" target="_blank">PDF</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="classify-item">
				<div class="mark-title">
					<img src="{% static 'image/title-mark.svg' %}">
					<p>名錄檔案（學名）</p>
				</div>
				<ul class="download-set">
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">物種名錄2022-2</div>
							<p class="short">
								有效學名 64505 筆，同種異名 99176 筆，合計 163681 筆
							</p>
						</div>
						<div class="right-file">
							<a href="#" class="csv" target="_blank">CSV</a>
							<a href="#" class="txt" target="_blank">TXT</a>
						</div>
					</li>
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">物種名錄2022-2</div>
							<p class="short">
								有效學名 64505 筆，同種異名 99176 筆，合計 163681 筆
							</p>
						</div>
						<div class="right-file">
							<a href="#" class="csv" target="_blank">CSV</a>
							<a href="#" class="txt" target="_blank">TXT</a>
						</div>
					</li>
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">物種名錄2022-2</div>
							<p class="short">
								有效學名 64505 筆，同種異名 99176 筆，合計 163681 筆
							</p>
						</div>
						<div class="right-file">
							<a href="#" class="csv" target="_blank">CSV</a>
							<a href="#" class="txt" target="_blank">TXT</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="classify-item">
				<div class="mark-title">
					<img src="{% static 'image/title-mark.svg' %}">
					<p>名錄檔案（物種）</p>
				</div>
				<ul class="download-set">
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">物種名錄2022-2</div>
							<p class="short">
								有效學名 64505 筆，同種異名 99176 筆，合計 163681 筆
							</p>
						</div>
						<div class="right-file">
							<a href="#" class="doc" target="_blank">DOC</a>
							<a href="#" class="txt" target="_blank">TXT</a>
						</div>
					</li>
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">物種名錄2022-2</div>
							<p class="short">
								有效學名 64505 筆，同種異名 99176 筆，合計 163681 筆
							</p>
						</div>
						<div class="right-file">
							<a href="#" class="csv" target="_blank">CSV</a>
							<a href="#" class="txt" target="_blank">TXT</a>
						</div>
					</li>
					<li>
						<div class="left-box-txt">
							<div class="up-date">
								2021-08-02
							</div>
							<div class="name">物種名錄2022-2</div>
							<p class="short">
								有效學名 64505 筆，同種異名 99176 筆，合計 163681 筆
							</p>
						</div>
						<div class="right-file">
							<a href="#" class="csv" target="_blank">CSV</a>
							<a href="#" class="txt" target="_blank">TXT</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>

{% endblock body %}