
{% extends 'base.html' %} 
{% load static %}
{% load i18n %}

{% block body %}

<!-- shortcut begin -->
<div class="shortcut-menu-wrapper">
<a class="btn" href="https://forms.gle/wPBoH6w5LLRAeT5S8" target="_blank">
    <img src="{% static 'image/logo-removebg.png' %}" alt="" class="stamp">
    {% trans "填寫問卷" %}
</a>
</div>

<div id="home-container">
    <div class="ovh">
        <div id="section-1-kv"></div>
        <div id="section-2-statistics"></div>
        <div id="section-3-news"></div>
        {% comment %} <div id="section-2-statistics"></div> {% endcomment %}
    </div>
</div>
{% endblock %}