{% extends 'base.html' %} 
{% load static %}

{% block body %}
	<div class="page-top">
		<div class="big-top">
			<div class="float-dot-yel">
				<img src="{% static 'image/cir_yel.png' %}">
			</div>
			<div class="float-dot-blue">
				<img src="{% static 'image/cir_blue.png' %}">
			</div>
			<div class="top-wave"></div>
			<div class="path">
				<a href="{% url 'index' %}">首頁</a> > <p>更多資訊</p> > <p>最新消息</p>
			</div>
			<div class="main-box">
				<div class="pic-right1">
					<img src="{% static 'image/cont-rightimg1.png' %}">
				</div>
				<div class="pic-right1s">
					<img src="{% static 'image/cont-rightimg1s.png' %}">
				</div>
				<div class="float-dot-yel2">
					<img src="{% static 'image/cir_yel.png' %}">
				</div>
				<div class="float-dot-blue2">
					<img src="{% static 'image/cir_blue.png' %}">
				</div>
				<div class="title-box">
					<h2>最新消息 <span></span></h2>
					<p>NEWS</p>
				</div>
			</div>
		</div>
		<div class="main-box vivi-cont-top padb-80">
			<div class="cont-tab-area">
				<!--目前的選項加上now-->
				<ul>
					<li class="now">全部</li>
					<li>網站公告</li>
					<li>名錄增修</li>
				</ul>
			</div>
			<div class="news-area-cont">
				<div class="news-list-box">
					<ul>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag green">
										網站公告
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
							</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag blue">
										名錄增修
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag green">
										網站公告
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag blue">
										名錄增修
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag green">
										網站公告
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag blue">
										名錄增修
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag green">
										網站公告
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag blue">
										名錄增修
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag green">
										網站公告
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="top-flex-dat">
									<div class="date">
										<div class="day">04</div>
										<div class="mon-year">Jan.2022</div>
									</div>
									<div class="tag blue">
										名錄增修
									</div>
								</div>
								<div class="txt">
									<h3 class="news-title">
										即日起TaiCoL不再提供物種照片上傳功能，請改上傳至iNat臺灣生命大百科專案
									</h3>
									<p>為了讓大家分享的物種照片獲得更好的倉儲與共享，物種照片徵集將改由台灣生命大百科TaiEOL運行，即日起TaiCoL不再提供物種...
									</p>
								</div>
							</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="page-num">
				<!--現在位置加now-->
				<a href="#" class="num">1</a>
				<a href="#" class="back">
					<img src="{% static 'image/pagear1.svg' %}">
					<p>上一頁</p>
				</a>
				<a href="#" class="num">2</a>
				<a href="#" class="num now">3</a>
				<a href="#" class="num">4</a>
				<a href="#" class="next">
					<p>下一頁</p>
					<img src="{% static 'image/pagear2.svg' %}">
				</a>
				<a href="#" class="num">5</a>
			</div>
		</div>
	</div>

{% endblock body %}