.disabled-a-link {
    pointer-events: none;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block  !important;
}

.flex-start {
    align-items: flex-start;
}

.ml-5 {
    margin-left: 5px
}


.footer .main-box .site-map-en li {
    margin-right: 20px
}


@media only screen and (max-width: 1279px) {
    .footer .main-box .site-map-en li {
        margin-right: 5px
    }
}


.header .main_menu li {
    cursor: pointer;
}