networks:
  traefik-admin:
    external: true
  traefik-web:
    external: true
  traefik-api:
    external: true
  traefik-nametool:
    external: true

services:
  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.9
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"      
      # - "./nametool.yml:/etc/traefik/nametool.yml"  # 工具測試站設定檔
      - "../../tc-web-volumes/logs/nginx-traefik:/var/log/traefik" 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - "--api.insecure=false"
      - "--providers.docker=true"
      # - "--providers.file.filename=/etc/traefik/nametool.yml"  # 工具測試站設定檔
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=catalogueoflife.taiwan@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--accesslog=true"
      - "--accesslog.filepath=/var/log/traefik/access.log"
      - "--accesslog.format=common"
    networks:
      - traefik-admin
      - traefik-web
      - traefik-api
      - traefik-nametool
    deploy:
      resources:
        limits:
          memory: 128M