{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>臺灣物種名錄 Catalogue of Life in Taiwan</title>
	<link rel=stylesheet type="text/css" href="{% static 'css/theme.css' %}">
    <link rel=stylesheet type="text/css" href="{% static 'css/markdown.css' %}">
	{% comment %} <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script src="{% static 'js/gsap.min.js' %}" ></script>
	<script src="{% static 'js/ScrollTrigger.min.js' %}" ></script>
    <link rel="icon" sizes="32x32" type="image/png" href="{% static 'image/logo.png' %}" />
    {% block head %}{% endblock head %}
	<link rel=stylesheet type="text/css" href="{% static 'css/base.css' %}">
    <link href="/static/fontawesome-free-6.2.1/css/brands.min.css" rel="stylesheet" />
    <link href="/static/fontawesome-free-6.2.1/css/solid.min.css" rel="stylesheet" />
    <link href="/static/fontawesome-free-6.2.1/css/v5-font-face.min.css" rel="stylesheet" />
    <script src="/static/fontawesome-free-6.2.1/js/fontawesome.min.js" data-auto-add-css="false"></script>
    <script src="/static/fontawesome-free-6.2.1/js/brands.min.js" data-auto-add-css="false"></script>
    <script src="/static/fontawesome-free-6.2.1/js/solid.min.js" data-auto-add-css="false"></script>    
    {% block style %}{% endblock style %}
</head>

<body>
	<div class="header">
        <div class="header-content">
            <div class="mb-hambruger">
                <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="60">
                    <path
                            class="line top"
                            d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
                    <path
                            class="line middle"
                            d="m 70,50 h -40" />
                    <path
                            class="line bottom"
                            d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
                </svg>
            </div>
            <div class="flex-box">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'image/logo.svg' %}" alt="臺灣物種名錄">
                </a>
                <!--手機板打開用display: block;-->
                <ul class="main_menu">
                    <!--目前所在頁面也可在li上面加上class="now"-->
                    <li>
                        <a href="{% url 'about' %}" class="big_title">
                            關於TaiCOL
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'taxon_tree' %}" class="big_title">
                            物種樹
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'catalogue' %}?filter=1" class="big_title">
                            物種名錄
                            <span></span>
                        </a>
                    </li>
                    <li class="mbli ">
                        <p class="big_title">
                            資料工具
                            <span></span>
                        </p>
                        <div class="menu_2">
                            <div class="w_bg">
                                <a href="{% url 'download' %}">資料下載</a>
                                <a href="{% url 'api' %}">API</a>
                                <a href="{% url 'name_match' %}">學名比對工具</a>
                                <a href="https://nametool.taicol.tw/" target="_blank">學名管理工具</a>
                            </div>
                        </div>
                    </li>
                    <li class="mbli ">
                        <p class="big_title">
                            更多資訊
                            <span></span>
                        </p>
                        <div class="menu_2">
                            <div class="w_bg">
                                <a href="{% url 'news' %}">最新消息</a>
                                <a href="{% url 'article' %}">主題文章</a>
                                <a href="{% url 'statistics' %}">資料統計</a>
                                <a href="{% url 'policy' %}">資料使用規範</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id='content-wrapper'>{% block body %}{% endblock body %}</div>

	<div class="footer">
        <div class="go-topbtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.828" height="9.828" viewBox="0 0 16.828 9.828">
                <g id="Group_7699" data-name="Group 7699" transform="translate(1561.442 559.678) rotate(180)">
                    <line id="Line_177" data-name="Line 177" x2="7" y2="7" transform="translate(1546.028 551.264)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                    <line id="Line_178" data-name="Line 178" x1="7" y2="7" transform="translate(1553.028 551.264)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                </g>
            </svg>
        </div>
        <div class="main-box">
            <div class="name-contactbox">
                <div class="name">
                    <h3>臺灣物種名錄TaiCOL</h3>
                    <p>Catalogue of Life in Taiwan</p>
                </div>
                <div class="contact">
                    <h4>聯絡我們</h4>
                    <a href="mailto:catalogueoflife.taiwan@gmail.com">catalogueoflife.taiwan@gmail.com</a>
                </div>
            </div>
            <ul class="site-map">
                <li>
                    <a href="{% url 'about' %}" class="bit-title">
                        <span></span>
                        <p>關於TaiCOL </p>
                    </a>
                    <a href="{% url 'taxon_tree' %}" class="bit-title">
                        <span></span>
                        <p>物種樹</p>
                    </a>
                    <a href="{% url 'catalogue' %}?filter=1" class="bit-title">
                        <span></span>
                        <p>物種名錄</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="bit-title disabled-a-link">
                        <span></span>
                        <p>資料工具</p>
                    </a>
                    <a href="{% url 'download' %}" class="ss-title">
                        <p>資料下載</p>
                    </a>
                    <a href="{% url 'api' %}" class="ss-title">
                        <p>API</p>
                    </a>
                    <a href="{% url 'name_match' %}" class="ss-title">
                        <p>學名比對工具</p>
                    </a>
                    <a href="https://nametool.taicol.tw/" class="ss-title" target="_blank">
                        <p>學名管理工具</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="bit-title disabled-a-link">
                        <span></span>
                        <p>更多資訊</p>
                    </a>
                    <a href="{% url 'news' %}" class="ss-title">
                        <p>最新消息</p>
                    </a>
                    <a href="{% url 'article' %}" class="ss-title">
                        <p>主題文章</p>
                    </a>
                    <a href="{% url 'statistics' %}" class="ss-title">
                        <p>資料統計</p>
                    </a>
                    <a href="{% url 'policy' %}" class="ss-title">
                        <p>資料使用規範</p>
                    </a>
                </li>
            </ul>
            <div class="two-related">
                <div class="itembox">
                    <p>指導單位</p>
                    <a target="_blank" href="https://www.forest.gov.tw">
                        <img src="{% static 'image/footer-logo1.png' %}">
                    </a>
                </div>
                <div class="itembox">
                    <p>維護單位</p>
                    <a target="_blank"  href="https://portal.taibif.tw">
                        <img src="{% static 'image/footer-logo2.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <h6>Copyright © TaiCOL 臺灣物種名錄 Catalogue of Life in Taiwan 2022</h6>
        </div>        
	</div>

</body>
<script src="{% static 'react_component/bundle.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% block script %}{% endblock script %}
</html>