*{
	box-sizing:border-box;
	}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote,img{
	margin:0px;
	padding:0px;
}
fieldset, img,abbr, acronym{
	border:0;
}
q:before, q:after {
	content:'';
}
input,button,select,textarea{
	border:none;
	outline:none;
	font-family: 'Microsoft JhengHei', sans-serif;
	}
button{
	cursor:pointer;
	padding: 0;
	font-family: 'Microsoft JhengHei', sans-serif;
	}
a{
	text-decoration:none;
	color:#333;
	
	&:hover{
		color:#888;
	}
}
/********************************************************************/
body,html{
	width: 100%;
	height: 100%;
}
body{
	font-family: 'Microsoft JhengHei', sans-serif;
	font-size:16px;
	line-height:normal;
	color:#333;
	letter-spacing: 0.05em;

}
.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.clearfix:after { /* FF, IE8, O, S, etc. */
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
	}
.clearfix{
	zoom:1;
	}
.clear{
	clear:both;
	}
.fleft{
	float:left;
	@media #{$mobile}{
		float: none ;
	}
}
.fright{
	float:right;
	@media #{$mobile}{
		float: none ;
	}
}
.m_fleft{
	float:left;
}
.m_fright{
	float:right;
}
